/* Error: Undefined variable.
 *    ,
 * 14 |             border: .15rem solid $munch-pink;
 *    |                                  ^^^^^^^^^^^
 *    '
 *   sass\components.scss 14:34  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 14 \2502              border: .15rem solid $munch-pink;\d\a    \2502                                   ^^^^^^^^^^^\a    \2575 \a   sass\\components.scss 14:34  root stylesheet";
}
