@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&family=Varela+Round&display=swap");
/*munch theme*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

body {
  color: #111; }

#services .services {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  text-align: center; }
  @media (max-width: 768px) {
    #services .services {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 500px) {
    #services .services {
      grid-template-columns: 1fr; } }
  #services .services .service {
    padding: 2em;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301), inset 5px 5px 10px #ddd, inset -5px -5px 10px #000a;
    transition: .3s ease;
    transform-style: preserve-3d; }
    #services .services .service h2 {
      font-size: 1.5em;
      font-weight: 500;
      margin-bottom: .5em;
      color: #800000;
      font-family: "Raleway", sans-serif;
      transition: .4s ease; }
      @media (max-width: 768px) {
        #services .services .service h2 {
          font-size: 1.2em; } }
    #services .services .service p {
      display: none;
      font-family: "Varela Round", sans-serif; }
    #services .services .service .icon {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
      transition: .3s ease; }
      #services .services .service .icon img {
        transition: .5s ease;
        width: 70%;
        height: 40vh;
        border-radius: 10px; }
    #services .services .service:hover {
      transition: .3s ease;
      box-shadow: 1px 1px 1px #ddd, inset 5px 5px 10px rgba(0, 0, 0, 0.459), inset -5px -5px 10px #ddd;
      transform: scale(0.98);
      cursor: pointer; }
      #services .services .service:hover img {
        transform: scale(1.19) translateZ(1em) scaleX(1.3);
        top: 0;
        z-index: 20;
        transition: .4s ease; }
      #services .services .service:hover h2 {
        transition: .3s ease;
        opacity: .7;
        transform: translateY(-1em); }

#services #work-link {
  display: inline-block;
  background: pink;
  margin: 2em auto;
  width: 100%;
  text-align: center;
  padding: .5em 0;
  border-radius: 5px;
  border: none;
  outline: none;
  position: relative; }
  #services #work-link .catalogBtn {
    text-decoration: none;
    text-transform: uppercase;
    color: #e0ffff;
    position: relative;
    z-index: 1;
    width: 50%;
    margin: 0em auto; }
    #services #work-link .catalogBtn a {
      color: #ddd;
      text-decoration: none;
      font-weight: 600;
      padding: .5em 1em;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px; }
      #services #work-link .catalogBtn a i {
        margin-right: .5em;
        color: #ddda; }
    #services #work-link .catalogBtn::before, #services #work-link .catalogBtn::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #f75394;
      z-index: -1;
      transition: .3s; }
    #services #work-link .catalogBtn::before {
      box-shadow: inset 3px 3px 5px #fff, inset -3px -3px 5px #000a; }
    #services #work-link .catalogBtn::after {
      opacity: 0;
      box-shadow: inset 2px 2px 4px #000, inset -2px -2px 4px #fffa; }
    #services #work-link .catalogBtn:hover::before {
      opacity: 0; }
    #services #work-link .catalogBtn:hover::after {
      opacity: 1; }
    #services #work-link .catalogBtn:active {
      transition: .3s;
      transform: scale(0.8); }

#services h2 {
  text-transform: capitalize; }

#work .portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em; }
  #work .portfolio .item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: .5em;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden; }
    #work .portfolio .item::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      box-shadow: inset 4px 4px 3px #fffa, inset -4px -4px 3px rgba(255, 192, 203, 0.74);
      z-index: 10; }
    @media (max-width: 500px) {
      #work .portfolio .item {
        width: 80%;
        height: 55vh;
        margin: 1em; }
        #work .portfolio .item img {
          border-radius: 5px; } }
    #work .portfolio .item img {
      width: 100%;
      height: 100%;
      transition: 1s; }
    #work .portfolio .item:hover img {
      transform: scale(1.4); }
    #work .portfolio .item .action {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      opacity: 0;
      transition: .5s ease;
      color: #ddd;
      border-radius: 5px;
      overflow: hidden; }
      #work .portfolio .item .action h3 {
        font-size: 1.2em;
        padding: .2em 1em;
        border-radius: 5px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        color: #f75394;
        background: #000a;
        text-decoration: underline rgba(255, 192, 203, 0.397); }
      #work .portfolio .item .action p {
        padding: .5em;
        margin: 1em;
        border-radius: 5px;
        text-align: center;
        background: #000a;
        font-weight: 500;
        font-family: "Varela Round", sans-serif; }
      #work .portfolio .item .action button {
        display: inline-block;
        background: pink;
        color: #800000;
        font-weight: 600;
        text-decoration: none;
        border: none;
        outline: none;
        padding: .7em 1.5em;
        border-radius: 10px;
        cursor: pointer;
        width: 100px;
        box-shadow: inset 2px 2px 5px #fff, inset -2px -2px 5px #000; }
    #work .portfolio .item:hover .action {
      transition: .5s ease;
      transition-delay: 1s;
      transform: scale(1.05);
      opacity: 1; }

#contact .title p {
  display: none; }

.contact {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media (max-width: 700px) {
    .contact {
      flex-direction: column-reverse; } }
  .contact .contact-form {
    position: relative;
    background: #f9f9f9;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
    border-radius: 10px; }
    @media (max-width: 767px) {
      .contact .contact-form {
        width: 100%;
        padding: 30px 20px 30px; } }
    .contact .contact-form form {
      width: 100%; }
      .contact .contact-form form .row {
        width: 100%;
        display: flex; }
        @media (max-width: 767px) {
          .contact .contact-form form .row {
            flex-direction: column; } }
        .contact .contact-form form .row label {
          text-transform: capitalize;
          color: #434343;
          position: absolute;
          top: 1em;
          font-size: 1.3em;
          left: .8em;
          padding: 0 4em 0em 0; }
        .contact .contact-form form .row .input50 {
          width: 50%;
          margin: 0 10px; }
        .contact .contact-form form .row .input100 {
          width: 100%;
          margin: 0 10px; }
        .contact .contact-form form .row .input50, .contact .contact-form form .row .input100 {
          width: 100%;
          height: 100%;
          margin: .4em;
          position: relative; }
          .contact .contact-form form .row .input50:hover label, .contact .contact-form form .row .input100:hover label {
            transition: .5s ease;
            padding: 0 2em 0em .5em;
            color: #800000;
            font-weight: 700;
            letter-spacing: .2em; }
        .contact .contact-form form .row input, .contact .contact-form form .row textarea, .contact .contact-form form .row select {
          position: relative;
          border: none;
          box-shadow: inset 2px 2px 5px #ddda, inset -2px -2px 5px #000a;
          color: #654321;
          background: transparent;
          width: 100%;
          padding: .7em .5em;
          outline: none;
          font-size: 1.2em;
          font-weight: 600;
          margin: 1em 0;
          resize: none;
          bottom: -2em;
          border-radius: 5px;
          transition: .2s linear; }
          .contact .contact-form form .row input::placeholder, .contact .contact-form form .row textarea::placeholder, .contact .contact-form form .row select::placeholder {
            font-size: .8em; }
          .contact .contact-form form .row input[type='submit'], .contact .contact-form form .row textarea[type='submit'], .contact .contact-form form .row select[type='submit'] {
            background-color: #800000;
            color: #fff;
            width: 50%;
            margin: 2em auto;
            text-transform: uppercase;
            letter-spacing: .2em;
            font-weight: 300;
            border: 0;
            padding: .5em;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: .3em;
            box-shadow: inset 2px 2px 5px #f0ffff, inset -2px -2px 5px #000; }
            .contact .contact-form form .row input[type='submit']:hover, .contact .contact-form form .row textarea[type='submit']:hover, .contact .contact-form form .row select[type='submit']:hover {
              transition: .3s ease;
              transform: scale(0.98);
              box-shadow: inset 2px 2px 5px #000, inset -2px -2px 5px #ddd;
              letter-spacing: .1em; }
          .contact .contact-form form .row input:hover, .contact .contact-form form .row textarea:hover, .contact .contact-form form .row select:hover {
            transition: .3s ease;
            box-shadow: inset -2px -2px 5px #ddda, inset 2px 2px 5px #000a;
            transform: scale(1.01); }
            .contact .contact-form form .row input:hover:focus, .contact .contact-form form .row textarea:hover:focus, .contact .contact-form form .row select:hover:focus {
              color: #800000;
              box-shadow: inset 0px 0px 5px #f75394; }
        .contact .contact-form form .row textarea {
          height: 150px; }
  .contact .contact-info {
    width: 350px;
    background: #f9f9f9;
    padding: 2em 1em 20px;
    border-radius: 10px; }
    @media (max-width: 767px) {
      .contact .contact-info {
        width: 100%;
        margin-top: 20px;
        padding: 30px 30px 20px; } }
    .contact .contact-info .info-box {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px; }
      .contact .contact-info .info-box .contact-icon {
        width: 20px;
        margin-right: 40px;
        font-size: 2em;
        color: #800000; }
      .contact .contact-info .info-box .details {
        display: flex;
        flex-direction: column; }
        .contact .contact-info .info-box .details h4 {
          font-size: 1.6em;
          color: #800000;
          margin-bottom: .5em;
          font-family: "Raleway", sans-serif;
          text-transform: capitalize; }
        .contact .contact-info .info-box .details a, .contact .contact-info .info-box .details p {
          font-family: "Varela Round", sans-serif;
          font-weight: 600;
          color: #000;
          font-size: 1em;
          cursor: pointer;
          box-shadow: -2px -2px 5px #ddd, 2px 2px 5px #333a;
          padding: .5em .7em;
          margin: 10px;
          transition: .2s ease;
          text-decoration: none;
          border-radius: 5px;
          letter-spacing: .1em;
          position: relative;
          left: -2em; }
          @media (max-width: 500px) {
            .contact .contact-info .info-box .details a, .contact .contact-info .info-box .details p {
              font-size: 1em; } }
          .contact .contact-info .info-box .details a:hover, .contact .contact-info .info-box .details p:hover {
            transition: .2s ease;
            letter-spacing: .1em;
            box-shadow: -2px -2px 5px #333a, 2px 2px 5px #ddd; }

#thankYou {
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 768px) {
    #thankYou {
      font-size: 1em; }
      #thankYou ul li {
        padding: 5em; } }
  #thankYou p {
    text-align: center; }
  #thankYou ul {
    margin-top: 3em;
    width: 20%;
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 768px) {
      #thankYou ul {
        width: 60%; } }
    #thankYou ul li {
      margin: 2em 0;
      padding: .5em 1em;
      list-style: none; }
      #thankYou ul li a {
        color: #000;
        text-decoration: none;
        position: relative;
        display: block;
        padding: .5em .1em;
        width: 100%;
        height: 100%; }
        #thankYou ul li a::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          z-index: -1;
          box-shadow: inset 2px 2px 5px #ddda, inset -2px -2px 5px #000a; }
        #thankYou ul li a i {
          margin: 0 1em;
          color: #333a;
          transition: .2s; }
      #thankYou ul li:hover {
        transition: .2s;
        transform: scale(0.98); }
        #thankYou ul li:hover i {
          color: #f75394; }
      #thankYou ul li:active {
        transform: scale(0.9); }

footer {
  position: fixed;
  bottom: 0; }
  footer a {
    color: #000; }

body {
  background-image: radial-gradient(#ffc0cb3f, #a52a2a2d); }

.container {
  height: 100vh;
  display: grid; }

footer {
  padding: .5em;
  width: 50%; }
  footer p {
    backdrop-filter: blur(2em);
    font-size: 1.1em;
    margin: 0 auto;
    color: #000;
    font-weight: 600; }
  @media (max-width: 768px) {
    footer {
      width: 100%; }
      footer p {
        text-align: center;
        font-size: .7em; } }

section {
  margin-top: 3em; }
  @media (max-width: 768px) {
    section {
      margin-top: 20vh; } }
  section .title {
    text-align: center;
    text-transform: capitalize; }
    section .title h1 {
      font-size: 3em;
      border-radius: 10px;
      width: 50%;
      margin: 1em auto;
      position: relative;
      padding: .2em .3em;
      letter-spacing: .1em;
      color: #800000;
      font-family: "Raleway", sans-serif; }
      section .title h1::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .3s;
        border-radius: 10px;
        box-shadow: inset 2px 2px 5px #fff, inset -2px -2px 5px #000a; }
      section .title h1 i {
        margin-right: .3em;
        color: #f75394;
        opacity: .6; }
    section .title p {
      font-size: 1.3em;
      font-family: "Varela Round", sans-serif; }
    @media (max-width: 668px) {
      section .title h1 {
        width: 80%;
        font-size: 2em; } }

@media (max-width: 768px) {
  header {
    background: pink;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.836);
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 20;
    padding: .5em 0; } }

header .hamburger {
  position: relative;
  height: 3em;
  width: 3em;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 50%;
  position: fixed;
  top: .5em;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  cursor: pointer;
  margin: 3px 20px;
  transition: .3s; }
  header .hamburger::before, header .hamburger::after {
    position: absolute;
    content: '';
    top: 0;
    border-radius: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s; }
  header .hamburger::before {
    box-shadow: inset -2px -2px 3px #000, inset 2px 2px 3px #fff;
    background: pink;
    z-index: -1; }
  header .hamburger::after {
    opacity: 0;
    background: pink;
    z-index: -2;
    box-shadow: inset -2px -2px 3px #fffa, inset 2px 2px 3px #000a; }
  header .hamburger:hover, header .hamburger:focus {
    transition-delay: 50ms; }
    header .hamburger:hover::before, header .hamburger:focus::before {
      opacity: 0; }
    header .hamburger:hover::after, header .hamburger:focus::after {
      opacity: 1; }
  header .hamburger:active {
    transform: scale(0.8); }
  header .hamburger .bar {
    height: .17em;
    width: 60%;
    position: relative;
    background-color: #434343;
    z-index: -1; }
    header .hamburger .bar::before, header .hamburger .bar::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      background-color: #000;
      transition: 0.3s ease;
      transition-property: top, bottom; }
    header .hamburger .bar::after {
      top: 8px; }
    header .hamburger .bar::before {
      bottom: 8px; }
  header .hamburger.active .bar::after {
    top: 0; }
  header .hamburger.active .bar::before {
    bottom: 0; }

header .logo {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 100%;
  top: .5em;
  left: 50px;
  z-index: 20;
  width: 25vw;
  background-color: #800000;
  border-radius: 10px;
  padding: .5em; }
  @media (min-width: 768px) {
    header .logo {
      max-width: 300px;
      min-width: 250px; } }
  @media (max-width: 768px) {
    header .logo {
      background: none;
      top: -.5em;
      left: 1em; } }
  @media (max-width: 360px) {
    header .logo {
      left: 2em; } }
  header .logo h3 {
    color: pink;
    font-size: 3rem;
    font-weight: 700;
    padding: .1em; }
    @media (max-width: 768px) {
      header .logo h3 {
        display: none; } }
  header .logo img {
    width: 6em;
    height: 6em;
    border-radius: 50%; }
    @media (max-width: 768px) {
      header .logo img {
        width: 4.5em;
        height: 4.5em;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.479); } }

header nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s; }
  header nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffc0cbf5;
    background-image: radial-gradient(rgba(182, 12, 12, 0.2), #ffc0cb00); }
  header nav.active {
    left: 0; }
  header nav ul {
    position: relative; }
    header nav ul li {
      position: relative;
      list-style: none;
      text-align: left;
      margin-bottom: 1.5em; }
  header nav .nav-links {
    width: 300px;
    padding: 1em 0em 1em 1em;
    margin-left: 4em; }
    @media (min-width: 1000px) {
      header nav .nav-links {
        width: 300px; } }
    header nav .nav-links li {
      padding: .5em 1em;
      transition: .3s; }
      header nav .nav-links li a {
        border-radius: 10px;
        font-size: 1.6em; }
        header nav .nav-links li a i {
          color: rgba(12, 12, 12, 0.377);
          margin-right: .5em; }
      header nav .nav-links li:hover {
        transform: scale(0.99) translateY(-0.4em); }
        header nav .nav-links li:hover i {
          color: #434343; }
  header nav a {
    font-size: 2.5rem;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s ease; }
    @media (max-width: 768px) {
      header nav a {
        font-size: 1.7rem; } }
    header nav a::before, header nav a::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: .5s; }
    header nav a::before {
      box-shadow: inset -2px -2px 5px #654321, inset 2px 2px 10px #fff; }
    header nav a::after {
      box-shadow: inset -2px -2px 5px #fffa, inset 2px 2px 5px #654321;
      opacity: 0; }
    header nav a:hover {
      transition: .2s ease; }
      header nav a:hover::before {
        opacity: 0; }
      header nav a:hover::after {
        opacity: 1; }
  header nav .social-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7feff; }
    header nav .social-bar ul {
      display: grid;
      place-items: center;
      gap: 2em; }
      header nav .social-bar ul li {
        margin-bottom: 1em; }
        header nav .social-bar ul li i {
          color: #800000; }
        header nav .social-bar ul li:hover i {
          color: #f75394; }
    header nav .social-bar .email-icon {
      position: absolute;
      bottom: 20px;
      margin-bottom: 1em;
      display: inline-block;
      color: #800000; }
      header nav .social-bar .email-icon:hover {
        color: #9abcde; }
    header nav .social-bar a {
      padding: .35em;
      border-radius: 50%;
      font-size: 1.7em;
      position: relative; }
      header nav .social-bar a::before, header nav .social-bar a::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: .3s; }
      header nav .social-bar a::before {
        box-shadow: inset -2px -2px 5px #654321, inset 2px 2px 10px #fff; }
      header nav .social-bar a::after {
        box-shadow: inset -2px -2px 5px #fffa, inset 2px 2px 5px #654321;
        opacity: 0; }
      header nav .social-bar a:hover::before {
        opacity: 0; }
      header nav .social-bar a:hover::after {
        opacity: 1; }

#home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 100px;
  margin-top: 0; }
  @media (max-width: 768px) {
    #home {
      padding: 100px 40px;
      margin-top: 2em; } }
  @media (max-width: 500px) {
    #home {
      padding: 100px 40px;
      margin-top: .5em; } }
  #home .home-img {
    position: absolute;
    right: 2em;
    bottom: 1em;
    height: 70%;
    border-radius: 50%;
    box-shadow: 10px 10px 10px #000a, -10px -1px 10px #88878752;
    transition: .3s ease; }
    @media (max-width: 1024px) {
      #home .home-img {
        height: 35%; } }
    @media (max-width: 450px) {
      #home .home-img {
        height: 50%;
        box-shadow: none;
        bottom: 1em;
        right: 0; } }
    #home .home-img:hover {
      box-shadow: 10px 10px 10px #88878752, -10px -1px 10px #000a;
      transform: scale(0.95);
      transition: .3s ease; }
  #home .home-content {
    position: relative;
    z-index: 10;
    max-width: 600px; }
    #home .home-content h1 {
      font-weight: 900;
      letter-spacing: .1em;
      text-align: center;
      font-size: 4.5em;
      color: #654321;
      position: relative; }
      @media (max-width: 768px) {
        #home .home-content h1 {
          font-size: 3.5em;
          position: relative;
          left: -1em; } }
      @media (max-width: 400px) {
        #home .home-content h1 {
          font-size: 3em; } }
    #home .home-content ul {
      margin: .5em 1em 2em;
      display: flex;
      font-family: "Raleway", sans-serif; }
      #home .home-content ul li {
        margin-left: 2em;
        font-size: 1.2em;
        color: #800000; }
      @media (max-width: 768px) {
        #home .home-content ul {
          position: relative;
          left: -3em; } }
      @media (max-width: 400px) {
        #home .home-content ul li {
          font-size: 1em; } }
    #home .home-content p {
      text-align: center;
      font-family: 'Varela Round', sans-serif;
      margin: 20px 0 10px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.3em;
      border-radius: 10px;
      padding: .5em;
      box-shadow: inset 3px 3px 10px pink, inset -3px -3px 5px #000a, 3px 3px 5px #000;
      backdrop-filter: blur(0.18em);
      transition: .3s ease; }
      @media (max-width: 768px) {
        #home .home-content p {
          font-size: 1.2em; }
          #home .home-content p:hover {
            transition: .3s ease;
            transform: scale(0.99);
            backdrop-filter: blur(0.3em);
            box-shadow: inset -3px -3px 10px pink, inset 3px 3px 10px #000a, inset 3px 3px 2px #000a; } }
    #home .home-content .btn {
      position: absolute;
      top: -1.7em;
      right: -1.7em;
      font-family: "Raleway", sans-serif;
      cursor: pointer;
      display: inline-block;
      background: #800000;
      color: #fefefe;
      text-decoration: none;
      padding: .4em .5em;
      margin: .3em 0;
      border-radius: 5px;
      transition: .3s ease;
      box-shadow: 3px 3px 5px #000a, inset 3px 3px 5px #fffa, inset -3px -3px 5px #000;
      font-size: 1.4em; }
      #home .home-content .btn:hover {
        transition: .3s ease;
        transform: scale(0.95);
        color: #f75394;
        box-shadow: inset 3px 3px 5px #000a, inset -3px -3px 5px #fffa; }
      @media (max-width: 768px) {
        #home .home-content .btn {
          font-size: 1.2em;
          position: absolute;
          top: -1em;
          right: -1.7em; } }
      @media (max-width: 360px) {
        #home .home-content .btn {
          top: -2em;
          right: -1.7em; } }
