@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Varela+Round&display=swap");
/*munch theme*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 5vh;
}
@media (min-width: 768px) {
  * {
    scroll-padding-top: 7vh;
  }
}

html {
  scroll-behavior: smooth;
  font-family: "Varela Round", sans-serif;
}

body {
  background: #f4f4f4;
  color: #4d3419;
}

.container {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

img.icon {
  width: 1rem;
  height: 1rem;
}

main .title {
  padding: 5vh 5vw 1rem;
  position: relative;
}
main .title h1 {
  text-transform: capitalize;
  color: #654321;
  font-size: 2rem;
  font-size: clamp(2rem, 4vw, 2.25rem);
  margin-bottom: 1rem;
}
main .title p {
  text-transform: capitalize;
}

.hamburger {
  height: auto;
  width: max-content;
  width: 2rem;
  height: 2rem;
  outline: none;
  padding: 0;
  border-radius: 50%;
  z-index: 20;
  cursor: pointer;
  transition: 0.25s;
  display: grid;
  place-items: center;
}
.hamburger .line {
  width: 50%;
  height: 0.125rem;
  background: #654321;
  position: relative;
  border-radius: 5rem;
  transition: 0.25s;
}
.hamburger .line::after, .hamburger .line::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #654321;
  border-radius: 5rem;
  transition: 0.25s;
}
.hamburger .line::before {
  transform: translateY(-0.3rem);
}
.hamburger .line::after {
  transform: translateY(0.3rem);
}
.hamburger .menu {
  border: 0.15rem solid #000;
  background: #fffa;
  border-radius: 1rem;
  width: 100%;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  display: grid;
  place-items: center;
  letter-spacing: 0.2rem;
}
.hamburger .menu p {
  color: #000;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.25s;
}
.hamburger.active-menu {
  transform: scale(0.95);
}
.hamburger.active-menu .line {
  background: #f4f4f4;
}
.hamburger.active-menu .line::before {
  background: #f4f4f4;
  transform: translateY(-0.3rem) translateX(0.25rem);
}
.hamburger.active-menu .line::after {
  background: #f4f4f4;
  transform: translateY(0.3rem) translateX(-0.25rem);
}
.hamburger.active-menu .menu {
  border-color: #000;
  background: #000a;
  letter-spacing: normal;
}
.hamburger.active-menu .menu p {
  color: #fff;
}
@media (min-width: 820px) {
  .hamburger {
    display: none;
  }
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4d3419;
  color: #fefefe;
  padding: 0.8rem 0.8rem;
  width: 13rem;
  margin: 1rem 0;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.025rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.25s ease;
  isolation: isolate;
  position: relative;
}
.btn i {
  transition: 0.25s;
  color: #f86da5;
}
.btn::before, .btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease;
  border-radius: inherit;
  z-index: -1;
}
.btn::before {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15), inset 2px 2px 5px rgba(255, 255, 255, 0.15), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
}
.btn::after {
  opacity: 0;
  box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -2px -2px 2px rgba(255, 255, 255, 0.15);
}
.btn.btn-primary::before {
  background: linear-gradient(0deg, #db0a5e, #f63c86);
  background: linear-gradient(0deg, #4d3419, #744e25);
}
.btn.btn-primary::after {
  background: linear-gradient(0deg, #f63c86, #db0a5e);
  background: linear-gradient(0deg, #754e24, #4e3518);
}
.btn.btn-secondary {
  color: #f75394;
}
.btn.btn-secondary::before {
  background: #000;
}
.btn.btn-secondary::after {
  background: #fff000;
}
@media (min-width: 768px) {
  .btn:hover {
    letter-spacing: normal;
    transform: scale(0.98);
  }
  .btn:hover i {
    transform: translateX(-0.05rem);
  }
  .btn:hover::before {
    opacity: 0;
  }
  .btn:hover::after {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .btn:active {
    letter-spacing: normal;
    transform: scale(0.98);
  }
  .btn:active i {
    transform: translateX(-0.05rem);
  }
  .btn:active::before {
    opacity: 0;
  }
  .btn:active::after {
    opacity: 1;
  }
}

.top-btn {
  position: fixed;
  right: 5vw;
  bottom: -5vh;
  opacity: 0;
  transition: 1s;
  z-index: 10;
}
.top-btn a {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  text-decoration: none;
}
.top-btn a i {
  padding: 0.25rem;
  background: linear-gradient(0deg, #4d3419, #744e25);
  border-radius: 0.15rem;
  color: #f4f4f4;
  font-size: 1.25rem;
  transition: 0.2s;
}
.top-btn a:hover i {
  background: #ffc2cc;
}
.top-btn.active-btn {
  bottom: 5vh;
  opacity: 1;
}

.btn-bg::before, .btn-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: none;
  outline: none;
  z-index: -1;
  transition: 0.3s ease;
}
.btn-bg::before {
  background: red;
  background: yellow;
}
.btn-bg::after {
  background: blue;
  opacity: 0;
}

#contact {
  overflow-x: hidden;
  background: #eee;
  padding-top: 5vh;
}
#contact .title {
  text-align: left;
  text-wrap: balance;
}
#contact .title p {
  font-size: 1rem;
  font-size: clamp(1rem, 1.25vw, 1.125rem);
  text-transform: none;
  line-height: 1.6;
  max-width: 768px;
}
#contact .title p a {
  color: #f75394;
  font-weight: 600;
}
#contact .title p a:hover {
  color: #b768a2;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding: 5vh 0;
}
@media (min-width: 820px) {
  .contact {
    padding: 10vh 5vw;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.contact .contact-info-title {
  text-transform: capitalize;
  padding: 10vh 0 10vh;
  color: #800000;
  font-weight: 600;
  font-size: clamp(2rem, 4vw, 1.5rem);
}

.contact-form {
  position: relative;
  background: #f4f4f4;
  padding: 5vh 5vw;
  margin-inline: auto;
  width: 100%;
}
.contact-form form .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .contact-form form .row {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
}
.contact-form form .row fieldset {
  background: #ffff;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #0002;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.contact-form form .row fieldset legend {
  color: #800000;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
  text-transform: capitalize;
  margin-left: 0.5em;
  padding: 0 0.25rem;
}
.contact-form form .row fieldset#contact-field {
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
@media (max-width: 1024px) {
  .contact-form form .row fieldset#contact-field {
    flex-direction: column;
    margin-bottom: 5vh;
    padding: 1rem 0.5rem 2rem;
  }
  .contact-form form .row fieldset#contact-field .input50 {
    height: auto;
  }
}
@media (max-width: 350px) {
  .contact-form form .row fieldset#contact-field {
    height: auto;
  }
}
.contact-form form .row fieldset#treats label {
  position: relative;
  transform: translateY(1em);
}
.contact-form form .row fieldset#treats option {
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .contact-form form .row fieldset#treats {
    flex-direction: column;
    height: auto;
    padding: 1em 0.5em 10vh;
  }
  .contact-form form .row fieldset#treats .input50 {
    height: auto;
  }
}
@media (max-width: 350px) {
  .contact-form form .row fieldset#treats {
    height: auto;
  }
}
.contact-form form .row label {
  text-transform: capitalize;
  color: #4d3419;
  position: absolute;
  top: 1em;
  font-size: 1rem;
  font-weight: 500;
  left: 0;
  padding: 0 4em 0em 0;
  letter-spacing: 0.05rem;
  transform: translateY(50%);
}
.contact-form form .row label.required::after {
  content: "*";
  color: #f75394;
  font-weight: 800;
}
.contact-form form .row .input50 {
  width: 50%;
}
.contact-form form .row .input100 {
  width: 100%;
  margin: 0 10px;
}
.contact-form form .row #custom-classic label {
  position: relative;
  transform: translateY(1em);
}
.contact-form form .row #custom-classic h3 {
  width: 100%;
  text-align: center;
  margin: 2em auto 0;
  background: #f75394;
  color: #f0ffff;
  border-radius: 5px;
  padding: 0.2em;
}
.contact-form form .row #custom-classic select {
  font-size: 1em;
  text-transform: capitalize;
}
.contact-form form .row .input50, .contact-form form .row .input100 {
  width: 100%;
  height: 100%;
  position: relative;
}
.contact-form form .row input, .contact-form form .row textarea, .contact-form form .row select {
  position: relative;
  border: 1px solid #333;
  border: none;
  color: #000;
  background: #f4f4f4;
  width: 100%;
  padding: 0.7em 0.5em;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  margin: 1em 0 5vh;
  resize: none;
  bottom: -2em;
  border-radius: 5px;
  transition: 0.2s linear;
}
.contact-form form .row input::placeholder, .contact-form form .row textarea::placeholder, .contact-form form .row select::placeholder {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  color: rgba(151, 149, 149, 0.822);
  color: #333;
}
.contact-form form .row input:invalid, .contact-form form .row textarea:invalid, .contact-form form .row select:invalid {
  border: 1px solid #0002;
}
.contact-form form .row input optgroup, .contact-form form .row textarea optgroup, .contact-form form .row select optgroup {
  text-transform: capitalize;
}
.contact-form form .row input optgroup option, .contact-form form .row textarea optgroup option, .contact-form form .row select optgroup option {
  text-transform: lowercase;
}
.contact-form form .row input optgroup select, .contact-form form .row textarea optgroup select, .contact-form form .row select optgroup select {
  text-transform: capitalize;
}
.contact-form form .row input:focus::placeholder, .contact-form form .row textarea:focus::placeholder, .contact-form form .row select:focus::placeholder {
  transition: 0.4s;
  letter-spacing: normal;
  opacity: 1;
}
.contact-form form .row input[type=submit], .contact-form form .row textarea[type=submit], .contact-form form .row select[type=submit] {
  background: linear-gradient(0deg, #660000, #cc0000);
  color: #fff;
  width: max-content;
  padding: 1rem 1.5rem;
  margin: 0 0 10vh;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-family: "Varela Round", sans-serif;
  font-weight: 300;
  border-radius: 0.5rem;
  border: none;
  cursor: default;
  position: relative;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15), inset 2px 2px 5px rgba(255, 255, 255, 0.15), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .contact-form form .row input[type=submit]:hover, .contact-form form .row textarea[type=submit]:hover, .contact-form form .row select[type=submit]:hover {
    cursor: pointer;
    letter-spacing: normal;
    transition: 0.25s ease;
    transform: scale(0.985);
    background: linear-gradient(0deg, #b30000, maroon);
  }
}
@media (max-width: 768px) {
  .contact-form form .row input[type=submit]:active, .contact-form form .row textarea[type=submit]:active, .contact-form form .row select[type=submit]:active {
    letter-spacing: normal;
    transition: 0.25s ease;
    transform: scale(0.985);
    background: linear-gradient(0deg, #b30000, maroon);
  }
}
.contact-form form .row textarea {
  height: 150px;
}

.contact-info {
  width: 100%;
  background: #f4f4f4;
  padding: 0vh 5vw 10vh;
  border-bottom: 1px solid #654321;
}
.contact-info .contact-items {
  padding-top: 5vh;
  display: grid;
  gap: 10vh;
}
@media (min-width: 768px) {
  .contact-info .contact-items {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
.contact-info .info-box {
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(81, 54, 26, 0.15);
}
.contact-info .info-box .item-title {
  margin-top: -2rem;
  margin-bottom: 1rem;
}
.contact-info .info-box .item-title .contact-icon {
  font-size: 2rem;
  color: #51361a;
  margin-bottom: 0.5rem;
}
.contact-info .info-box .item-title h2 {
  text-transform: capitalize;
  font-size: 1rem;
}
.contact-info .info-box a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s;
}
.contact-info .info-box a:hover {
  color: #f75394;
}
.contact-info .info-box i {
  color: #800000;
  width: 1.5rem;
}

#thankYou {
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1024px) {
  #thankYou {
    font-size: 1em;
  }
  #thankYou ul li {
    padding: 5em;
  }
}
#thankYou p {
  text-align: center;
}
#thankYou ul {
  margin-top: 3em;
  width: 20%;
  text-align: left;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  #thankYou ul {
    width: 60%;
  }
}
#thankYou ul li {
  margin: 2em 0;
  padding: 0.5em 1em;
  list-style: none;
}
#thankYou ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0.5em 0.1em;
  width: 100%;
  height: 100%;
}
#thankYou ul li a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: -1;
  box-shadow: inset 2px 2px 5px #ddda, inset -2px -2px 5px #000a;
}
#thankYou ul li a i {
  margin: 0 1em;
  color: #333a;
  transition: 0.2s;
}
#thankYou ul li:hover {
  transition: 0.2s;
  transform: scale(0.98);
}
#thankYou ul li:hover i {
  color: #f75394;
}
#thankYou ul li:active {
  transform: scale(0.9);
}

.footer {
  padding: 5vh 5vw;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
@media (min-width: 820px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    padding: 10vh 5vw 5vh;
    gap: 1rem;
  }
}
.footer img {
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0 0.5rem 0.5rem #0001;
}
.footer .footer-item {
  flex-grow: 1;
}
.footer .footer-item h3 {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.footer .footer-item #date {
  color: #800000;
}
.footer .footer-item p {
  text-transform: capitalize;
  line-height: 1.6;
}
.footer .footer-item p a {
  color: #800000;
  text-decoration: none;
}
.footer .footer-item p a:hover {
  color: #f75394;
}
.footer .footer-item .footer-list {
  list-style: none;
}
.footer .footer-item .footer-list li {
  margin-bottom: 0.5rem;
}
.footer .footer-item .footer-list li i {
  width: 1.5rem;
  color: #800000;
  transition: 0.25s;
}
.footer .footer-item .footer-list li a {
  color: #4d3419;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s;
}
.footer .footer-item .footer-list li:hover a {
  color: #800000;
}
.footer .footer-item .footer-list li:hover i {
  color: #4d3419;
  transform: translateX(0.25rem);
}
.footer .footer-item .footer-list.browse-list {
  text-transform: capitalize;
}

.gallery {
  padding: 10vh 5vw;
  overflow: hidden;
  z-index: 5;
  background: #fafafa;
}
.gallery .grid-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 5vh;
}
@media (min-width: 576px) {
  .gallery .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
.gallery a {
  margin-top: 10vh;
}
.gallery figure {
  width: 80%;
  height: auto;
  overflow: hidden;
  border-radius: 0.5rem;
}
.gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  transition: 0.25s ease;
}
.gallery figure:hover {
  background-image: radial-gradient(#ffc0cb3f, #a52a2a2d);
}
.gallery figure:hover img {
  transform: scale(1.05);
}

#header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  padding: 0.25rem 5vw;
  transition: 0.25s;
  isolation: isolate;
  z-index: 5;
}
#header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.05);
  z-index: -1;
  transition: 0.25s, box-shadow 0.25s;
}
#header.active-header {
  height: 15vh;
}
@media (min-width: 820px) {
  #header.active-header {
    height: 25vh;
  }
  #header.active-header .logo {
    position: relative;
    top: 0.5rem;
  }
}
#header.active-header .hamburger .menu {
  background: #000a;
}
#header.active-header .hamburger .menu p {
  color: #fff;
}
#header.hero-header {
  background: transparent;
}
#header.hero-header::after {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1rem 1rem transparent;
}
@media (min-width: 768px) {
  #header.hero-header::after {
    background: transparent;
  }
}

.shop-link {
  display: none;
}

.desktop-nav {
  display: none;
}
@media (min-width: 820px) {
  .desktop-nav {
    display: block;
  }
  .desktop-nav ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  .desktop-nav ul li a {
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #4d3419;
    padding: 0 0.5rem;
    transition: 0.25s;
    position: relative;
  }
  .desktop-nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background: #4d3419;
    transition: 0.25s;
  }
  .desktop-nav ul li a:hover {
    color: #800000;
  }
  .desktop-nav ul li a:hover::after {
    width: 50%;
  }
  .desktop-nav ul li a:is(:link, :active, :visited).active {
    color: #f75394;
  }
}

.logo {
  position: relative;
  height: 2.5rem;
  height: 100%;
  width: auto;
  overflow: hidden;
  z-index: 20;
  transition: 0.25s;
}
.logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.25s;
}

aside {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 20vw;
  transition: 0.5s ease;
  background: #4d3419;
  color: #f4f4f4;
  z-index: 15;
}
@media (min-width: 820px) {
  aside {
    display: none;
  }
}
aside ul li {
  list-style: none;
  text-transform: capitalize;
}
aside .nav-links {
  width: 16rem;
}
@media (min-width: 768px) {
  aside .nav-links {
    width: 20rem;
    margin: 0;
    padding: 0;
  }
  aside .nav-links li {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
aside .nav-links li {
  padding: 0.5rem;
  transition: 0.5s;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid #0002;
  outline: none;
  transform: translateX(2rem);
  opacity: 0;
  transition: 0.3s;
}
aside .nav-links li a {
  display: block;
  width: 100%;
  font-size: 1rem;
  text-decoration: none;
  color: #f4f4f4;
}
@media (min-width: 768px) {
  aside .nav-links li a {
    font-size: 1.25rem;
  }
}
aside .nav-links li a i {
  color: rgba(12, 12, 12, 0.377);
  color: #ddd;
  margin-right: 0.5em;
  width: 1.5rem;
  transition: 0.2s;
}
aside .nav-links li a.active {
  color: pink;
}
aside .nav-links li:hover i {
  color: #f75394;
}
aside .contact-links {
  width: 16rem;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  background: #51361a;
}
@media (min-width: 768px) {
  aside .contact-links {
    width: 20rem;
  }
}
aside .contact-links a {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: none;
  opacity: 0;
  color: #f4f4f4;
  font-weight: 500;
  transform: translateX(1rem);
  transition: 1s;
}
aside .contact-links a i {
  color: inherit;
  width: 1.5rem;
  transform: translateX(-2rem);
  transition: 1s;
  opacity: 0.8;
}
@media (min-width: 768px) {
  aside .contact-links a {
    font-size: 1.25rem;
  }
  aside .contact-links a i {
    width: 2rem;
  }
}
aside .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  transition: 0.4s;
  transition-delay: 0.2s;
}
@media (max-width: 768px) {
  aside .social-bar {
    width: 50vw;
  }
}
aside .social-bar ul {
  display: grid;
  place-items: center;
  gap: 3em;
}
aside .social-bar ul li a {
  font-size: 1.5rem;
  color: #800000;
  transition: 0.2s;
  position: relative;
}
@media (min-width: 768px) {
  aside .social-bar ul li a {
    font-size: 2rem;
  }
}
aside .social-bar ul li:hover {
  transition: 0.2s;
  transform: scale(0.95);
}
aside .social-bar ul li:hover i {
  color: #f75394;
}
aside .social-bar ul li:active {
  transition: 0.2s;
  transform: scale(0.9);
}
aside .social-bar .email-icon {
  position: absolute;
  bottom: 10vh;
  color: #800000;
  transition: 0.2s;
  font-size: 1.5rem;
}
aside .social-bar .email-icon:hover {
  color: #b768a2;
}
aside.active {
  left: 0;
}
aside.active .nav-links li {
  transform: translateX(0);
  transition: 0.5s;
  opacity: 1;
}
aside.active .nav-links li:nth-child(1) {
  transition-delay: 0.3s;
}
aside.active .nav-links li:nth-child(2) {
  transition-delay: 0.35s;
}
aside.active .nav-links li:nth-child(3) {
  transition-delay: 0.4s;
}
aside.active .nav-links li:nth-child(4) {
  transition-delay: 0.45s;
}
aside.active .nav-links li:hover {
  transition: 0.3s;
}
aside.active .contact-links a {
  opacity: 1;
  transform: translateX(0);
}
aside.active .contact-links a i {
  transform: translateX(0);
}
aside.active .contact-links a:nth-child(1) {
  transition-delay: 0.2s;
}
aside.active .contact-links a:nth-child(1) i {
  transition-delay: 0.3s;
}
aside.active .contact-links a:nth-child(2) {
  transition-delay: 0.4s;
}
aside.active .contact-links a:nth-child(2) i {
  transition-delay: 0.5s;
}
aside.active .contact-links a:hover {
  color: #f75394;
  transition: 0.25s;
}
aside.active .contact-links a:hover i {
  opacity: 0.4;
  transition: 0.25s;
}
aside.active .social-bar {
  transition-delay: 0.25s;
  width: 5vw;
}
@media (max-width: 768px) {
  aside.active .social-bar {
    width: 15vw;
  }
}

.hero-grid {
  height: 95vh;
  padding: 10vh auto 5vh;
  background-color: #ffff;
  display: grid;
  grid-template-rows: 50% 50%;
}
@media (min-width: 820px) {
  .hero-grid {
    margin-bottom: 5vh;
    padding: 30vh 5vw 15vh 0;
    grid-template-rows: 1fr;
    grid-template-columns: 40vw auto;
    background: #fafafa;
  }
}
.hero-grid .hero-grid-image {
  overflow: hidden;
}
.hero-grid .hero-grid-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (min-width: 576px) {
  .hero-grid .hero-grid-image img {
    object-position: left;
  }
}
@media (min-width: 820px) {
  .hero-grid .hero-grid-image img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
}
.hero-grid .hero-grid-title {
  padding: 20vh 5vw 0;
  text-transform: capitalize;
}
.hero-grid .hero-grid-title h1 {
  margin-bottom: 1rem;
  font-size: clamp(2rem, 4vw, 2.8rem);
}
.hero-grid .hero-grid-title p {
  line-height: 1.4;
  font-size: clamp(.95rem, 2vw, 1.125rem);
}
.hero-grid .hero-grid-title .cta {
  margin-top: 1rem;
}
@media (min-width: 820px) {
  .hero-grid .hero-grid-title {
    padding: 0vh 0.5rem 1rem 5vw;
  }
}

#home {
  height: 95vh;
  width: 100%;
  padding: 5vh 5vw;
  position: relative;
  isolation: isolate;
}
@media (min-width: 1024px) {
  #home::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #fff;
    border-radius: 40%;
    z-index: -2;
  }
}
#home figure {
  width: 100%;
  inset: 0;
  position: absolute;
  background-color: #fff;
}
@media (min-width: 820px) {
  #home figure {
    width: 50%;
    position: absolute;
    left: unset;
    bottom: unset;
    right: 5vw;
    top: 20vh;
    height: 70vh;
    border-radius: 5rem;
    overflow: hidden;
  }
}
@media (min-width: 1024px) {
  #home figure {
    border-radius: 40%;
  }
}
#home figure img {
  object-fit: contain;
  object-position: 0% 0%;
  object-position: 0% bottom;
  z-index: -1;
  height: 100%;
}
@media (min-width: 576px) {
  #home figure img {
    object-position: right;
  }
}
@media (min-width: 820px) {
  #home figure img {
    object-fit: cover;
    object-position: left;
  }
}
#home .home-content {
  text-transform: capitalize;
  position: relative;
  top: 15vh;
  transition: 0.25s ease;
  z-index: 1;
}
@media (min-width: 820px) {
  #home .home-content {
    top: 50%;
    transform: translateY(-50%);
  }
}
#home .home-content .home-title {
  color: #4d3419;
  margin-bottom: 1rem;
}
#home .home-content .home-title h1 {
  font-size: 2.125rem;
  font-size: clamp(2.125rem, 5vw, 2.25rem);
  margin-bottom: 1rem;
}
#home .home-content .home-title p {
  font-size: clamp(1.15rem, 2vw, 1.125rem);
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}
#home .home-content .home-title .meta-p {
  margin-top: 0.5rem;
  color: #744e25;
  font-size: 1.15rem;
  font-size: clamp(1.15rem, 2vw, 1.125rem);
}
#home .home-content .home-title .meta-p i {
  width: 1.25rem;
}
#home .cta .btn {
  width: 12rem;
}
#home .cta .btn i {
  color: #f86da5;
}
#services {
  width: 100%;
  padding-top: 5vh;
}
#services .service-intro {
  padding: 5vh 5vw 5vh;
  margin-bottom: 5vh;
  color: #800000;
}
@media (min-width: 576px) {
  #services .service-intro {
    text-align: center;
  }
}
#services .service-intro h2 {
  font-size: 2rem;
  line-height: 1.5;
}
#services .services {
  display: grid;
  gap: 5vw;
  padding: 0 5vw;
}
@media (min-width: 576px) {
  #services .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 820px) {
  #services .services {
    grid-template-columns: repeat(3, 1fr);
  }
}
#services .services .service {
  padding: 1rem;
  background: #fff;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 0.25rem;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  color: #654321;
}
@media (min-width: 576px) {
  #services .services .service {
    text-align: center;
  }
}
#services .services .service h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  transition: 0.5s;
}
#services .services .service p {
  margin-bottom: 1rem;
}
#services .services .service .icon {
  transition: 0.5s;
}
#services .services .service .icon img {
  width: 100%;
  border-radius: 0.25rem;
  object-fit: cover;
  transition: 0.25s;
}
@media (min-width: 576px) {
  #services .services .service .icon img {
    height: 50vh;
    object-fit: contain;
  }
}
#services #work-link {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem 5vw;
}
#services h2 {
  text-transform: capitalize;
}

.slogan {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  gap: 2rem;
}
@media (min-width: 576px) {
  .slogan {
    flex-direction: row;
    padding-block: 10vh;
  }
}
@media (min-width: 820px) {
  .slogan {
    justify-content: flex-start;
    height: 100vh;
    background: url("../images/desk-hero-3.jpg");
    background-size: contain;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
  }
}
.slogan .slogan-content {
  padding: 5vh 5vw 0;
}
@media (min-width: 820px) {
  .slogan .slogan-content {
    position: relative;
    top: 5vh;
  }
}
.slogan .slogan-content h2 {
  font-size: 2rem;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.slogan .slogan-content p {
  min-width: 250px;
  text-transform: lowercase;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.slogan figure {
  width: 100%;
  overflow: hidden;
}
.slogan figure img {
  width: 100%;
}
@media (min-width: 576px) {
  .slogan figure {
    width: 50%;
  }
}
@media (min-width: 820px) {
  .slogan figure {
    display: none;
  }
}

#work {
  padding: 5vh 0;
}
#work .portfolio {
  padding: 5vh 5vw;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 10vh;
}
@media (min-width: 576px) {
  #work .portfolio {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  #work .portfolio {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10vh;
    column-gap: 5vw;
  }
}
#work .portfolio .item {
  position: relative;
  background: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
}
@media (min-width: 576px) {
  #work .portfolio .item {
    display: flex;
    flex-direction: column;
  }
}
#work .portfolio .item figure {
  width: 15rem;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 576px) {
  #work .portfolio .item figure {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
  }
}
#work .portfolio .item figure img {
  object-fit: contain;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 0.5rem;
}
#work .portfolio .item .action {
  transition: 0.5s ease;
  color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem 0 0;
  color: #4d3419;
}
#work .portfolio .item .action h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
  font-weight: 700;
  text-transform: capitalize;
}
@media (min-width: 576px) {
  #work .portfolio .item .action h3 {
    font-size: 1.125rem;
  }
}
#work .portfolio .item .action h3 span {
  color: #f75394;
  display: block;
  font-size: 0.95rem;
  padding-top: 0.25rem;
}
#work .portfolio .item .action h3 span::before {
  content: "R";
}
#work .portfolio .item .action p {
  font-weight: 400;
  color: #744e25;
  line-height: 1.4;
}
#work .portfolio .item .action a {
  display: block;
  width: 10rem;
  margin: 1rem 0;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.65rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(0deg, #4d3419, #744e25);
  color: #f4f4f4;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
#work .portfolio .item .action a i {
  color: #f86da5;
}
#work .portfolio .item .action button {
  display: inline-block;
  background: linear-gradient(0deg, #db0a5e, #f63c86);
  color: #f4f4f4;
  font-weight: 500;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100px;
  box-shadow: inset 2px 2px 5px #fff2, inset -2px -2px 5px #0003;
}

.loader_bg {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(30deg, #faecee, #fff);
  overflow: hidden;
  z-index: 999;
  display: grid;
  place-items: center;
}
.loader_bg .loader {
  border: none;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader_bg .loader::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
  border: 0.5rem solid pink;
  border-top: 0.25rem solid #800000;
  z-index: 2;
  animation: spinner 2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader_bg .spinner {
  height: 4rem;
  width: 4rem;
  position: relative;
}
@media (min-width: 768px) {
  .loader_bg .spinner {
    height: 5rem;
    width: 5rem;
  }
}
.loader_bg .spinner .sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  animation: spinner 2s infinite;
}
.loader_bg .spinner .sector.sector-1 {
  border-left-color: #f75394;
  animation-timing-function: ease-in-out;
}
.loader_bg .spinner .sector.sector-2 {
  border-top-color: purple;
  animation-timing-function: ease-in;
}
.loader_bg .spinner .sector.sector-3 {
  border-right-color: #800000;
  animation-timing-function: ease-out;
}

/*# sourceMappingURL=style.css.map */
