@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Varela+Round&display=swap");
/*munch theme*/
.hamburger {
  height: auto;
  width: max-content;
  width: 2rem;
  height: 2rem;
  outline: none;
  padding: 0;
  border-radius: 50%;
  z-index: 20;
  cursor: pointer;
  transition: 0.25s;
  display: grid;
  place-items: center;
}
.hamburger .line {
  width: 50%;
  height: 0.125rem;
  background: #654321;
  position: relative;
  border-radius: 5rem;
}
.hamburger .line::after, .hamburger .line::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 5rem;
  transition: 0.2s;
}
.hamburger .line::before {
  transform: translateY(-0.3rem);
}
.hamburger .line::after {
  transform: translateY(0.3rem);
}
.hamburger .menu {
  border: 0.15rem solid #000;
  background: #fffa;
  border-radius: 1rem;
  width: 100%;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  display: grid;
  place-items: center;
  letter-spacing: 0.2rem;
}
.hamburger .menu p {
  color: #000;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.25s;
}
.hamburger.active-menu {
  transform: scale(0.95);
}
.hamburger.active-menu .line::before {
  transform: translateY(-0.3rem) translateX(0.25rem);
}
.hamburger.active-menu .line::after {
  transform: translateY(0.3rem) translateX(-0.25rem);
}
.hamburger.active-menu .menu {
  border-color: #000;
  background: #000a;
  letter-spacing: normal;
}
.hamburger.active-menu .menu p {
  color: #fff;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fefefe;
  padding: 0.8rem 1rem;
  width: 13rem;
  margin: 1rem 0;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.025rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.25s ease;
  isolation: isolate;
  position: relative;
}
.btn i {
  transition: 0.25s;
  color: #f75394;
}
.btn::before, .btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease;
  border-radius: inherit;
  z-index: -1;
}
.btn::before {
  box-shadow: 0 0.25rem 0.5rem rgba(255, 194, 204, 0.1), inset 2px 2px 5px rgba(255, 255, 255, 0.15), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
}
.btn::after {
  opacity: 0;
  box-shadow: 0 0.15rem 0.25rem rgba(255, 194, 204, 0.2), inset 2px 2px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 2px rgba(255, 255, 255, 0.15);
}
.btn.btn-primary::before {
  background: linear-gradient(0deg, #db0a5e, #f63c86);
  background: linear-gradient(0deg, #3a2713, #4d3419);
}
.btn.btn-primary::after {
  background: linear-gradient(0deg, #f63c86, #db0a5e);
  background: linear-gradient(0deg, #271a0c, #130d06);
}
.btn.btn-secondary {
  color: #f75394;
}
.btn.btn-secondary::before {
  background: #000;
}
.btn.btn-secondary::after {
  background: #fff000;
}
@media (min-width: 768px) {
  .btn:hover {
    letter-spacing: normal;
    transform: scale(0.98);
  }
  .btn:hover i {
    transform: translateX(-0.05rem);
  }
  .btn:hover::before {
    opacity: 0;
  }
  .btn:hover::after {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .btn:active {
    letter-spacing: normal;
    transform: scale(0.98);
  }
  .btn:active i {
    transform: translateX(-0.05rem);
  }
  .btn:active::before {
    opacity: 0;
  }
  .btn:active::after {
    opacity: 1;
  }
}

.top-btn {
  position: fixed;
  bottom: -5vh;
  opacity: 0;
  transition: 1s;
  right: 1rem;
  z-index: 10;
}
.top-btn a {
  width: 100%;
  height: 100%;
}
.top-btn a i {
  color: #000;
  font-size: 1.5rem;
  border-radius: 50%;
  border-radius: 0.25rem;
  background: rgba(255, 194, 204, 0.8);
  padding: 0.2rem;
  transition: 0.2s;
}
.top-btn a:hover i {
  background: #ffc2cc;
}
.top-btn.active-btn {
  bottom: 5vh;
  opacity: 1;
}

.btn-bg::before, .btn-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: none;
  outline: none;
  z-index: -1;
  transition: 0.3s ease;
}
.btn-bg::before {
  background: red;
  background: yellow;
}
.btn-bg::after {
  background: blue;
  opacity: 0;
}

.loader_bg {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(30deg, #faecee, #fff);
  overflow: hidden;
  z-index: 999;
  display: grid;
  place-items: center;
}
.loader_bg .loader {
  border: none;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader_bg .loader::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
  border: 0.5rem solid pink;
  border-top: 0.25rem solid #800000;
  z-index: 2;
  animation: spinner 2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader_bg .spinner {
  height: 6rem;
  width: 6rem;
  position: relative;
}
.loader_bg .spinner .sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.5rem solid transparent;
  border-radius: 50%;
  animation: spinner 2s infinite;
}
.loader_bg .spinner .sector.sector-1 {
  border-left-color: #f75394;
  animation-timing-function: ease-in-out;
}
.loader_bg .spinner .sector.sector-2 {
  border-top-color: purple;
  animation-timing-function: ease-in;
}
.loader_bg .spinner .sector.sector-3 {
  border-right-color: #800000;
  animation-timing-function: ease-out;
}

#header {
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: pink;
  height: 8vh;
  width: 100%;
  padding: 0 5vw;
  transition: 0.5s;
}
@media (min-width: 820px) {
  #header {
    background: transparent;
    background: #f4f4f4;
  }
}
@media (max-width: 820px) {
  #header {
    background: pink;
    background: transparent;
    background: #f4f4f4;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    z-index: 20;
    padding: 0.5rem 1rem;
  }
}
#header .shop-link {
  display: none;
  position: relative;
  height: auto;
  width: max-content;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
  transition: 0.2s;
}
#header .shop-link a {
  width: 100%;
  display: grid;
  place-items: center;
  color: #f0ffff;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
}
@media (min-width: 768px) {
  #header .shop-link a {
    font-size: 1rem;
  }
}
#header .shop-link a i {
  font-size: 1rem;
  color: #f4f4f4;
}
#header .logo {
  position: relative;
  height: 2.5rem;
  height: 100%;
  width: auto;
  overflow: hidden;
  z-index: 20;
  transition: all 0.5s ease-out;
}
#header .logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#header aside {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 5vw;
  gap: 5vh;
  transition: 0.5s ease;
  background-color: #ffc0cb;
  background-image: radial-gradient(rgba(182, 12, 12, 0.2), #ffc0cb00);
}
@media (min-width: 768px) {
  #header aside {
    align-items: center;
  }
}
#header aside ul li {
  list-style: none;
  text-transform: capitalize;
}
#header aside .nav-links {
  width: 16rem;
}
@media (min-width: 768px) {
  #header aside .nav-links {
    width: 20rem;
    margin: 0;
    padding: 0;
  }
  #header aside .nav-links li {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
#header aside .nav-links li {
  padding: 0.5rem;
  transition: 0.5s;
  margin-bottom: 1rem;
  background-color: pink;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  transform: scale(0.1);
  opacity: 0;
  transition: 0.3s;
}
#header aside .nav-links li a {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}
@media (min-width: 768px) {
  #header aside .nav-links li a {
    font-size: 1.25rem;
  }
}
#header aside .nav-links li a i {
  color: rgba(12, 12, 12, 0.377);
  margin-right: 0.5em;
  transition: 0.2s;
}
#header aside .nav-links li:hover {
  transform: scale(0.99);
}
#header aside .nav-links li:hover i {
  color: #f75394;
}
#header aside .contact-links {
  width: 16rem;
  padding: 1rem 0;
  border-radius: 0.25rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  #header aside .contact-links {
    width: 20rem;
  }
}
#header aside .contact-links a {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: none;
  opacity: 0;
  color: #000;
  font-weight: 500;
  transform: translateX(1rem);
  transition: 1s;
}
#header aside .contact-links a i {
  width: 1.5rem;
  transform: translateX(-2rem);
  transition: 1s;
  opacity: 0.8;
}
@media (min-width: 768px) {
  #header aside .contact-links a {
    font-size: 1.25rem;
  }
  #header aside .contact-links a i {
    width: 2rem;
  }
}
#header aside .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7feff;
  transition: 0.4s;
  transition-delay: 0.2s;
}
@media (max-width: 768px) {
  #header aside .social-bar {
    width: 50vw;
  }
}
#header aside .social-bar ul {
  display: grid;
  place-items: center;
  gap: 3em;
}
#header aside .social-bar ul li a {
  font-size: 1.5rem;
  color: #f75394;
  transition: 0.2s;
  position: relative;
}
@media (min-width: 768px) {
  #header aside .social-bar ul li a {
    font-size: 2rem;
  }
}
#header aside .social-bar ul li:hover {
  transition: 0.2s;
  transform: scale(0.95);
}
#header aside .social-bar ul li:hover i {
  color: #f75394;
}
#header aside .social-bar ul li:active {
  transition: 0.2s;
  transform: scale(0.9);
}
#header aside .social-bar .email-icon {
  position: absolute;
  bottom: 10vh;
  color: #f75394;
  transition: 0.2s;
  font-size: 1.5rem;
}
#header aside .social-bar .email-icon:hover {
  color: #b768a2;
}
#header aside.active {
  left: 0;
}
#header aside.active .nav-links li {
  transform: scale(1);
  transition: 0.5s;
  opacity: 1;
}
#header aside.active .nav-links li:nth-child(1) {
  transition-delay: 0.3s;
}
#header aside.active .nav-links li:nth-child(2) {
  transition-delay: 0.35s;
}
#header aside.active .nav-links li:nth-child(3) {
  transition-delay: 0.4s;
}
#header aside.active .nav-links li:nth-child(4) {
  transition-delay: 0.45s;
}
#header aside.active .nav-links li:hover {
  transition: 0.3s;
}
#header aside.active .contact-links a {
  opacity: 1;
  transform: translateX(0);
}
#header aside.active .contact-links a i {
  transform: translateX(0);
}
#header aside.active .contact-links a:nth-child(1) {
  transition-delay: 0.5s;
}
#header aside.active .contact-links a:nth-child(1) i {
  transition-delay: 0.7s;
}
#header aside.active .contact-links a:nth-child(2) {
  transition-delay: 0.7s;
}
#header aside.active .contact-links a:nth-child(2) i {
  transition-delay: 0.9s;
}
#header aside.active .contact-links a:hover {
  color: #f75394;
  transition: 0.25s;
}
#header aside.active .contact-links a:hover i {
  opacity: 0.4;
  transition: 0.25s;
}
#header aside.active .social-bar {
  transition-delay: 0.25s;
  width: 5vw;
}
@media (max-width: 768px) {
  #header aside.active .social-bar {
    width: 20vw;
  }
}
#header.active-header {
  height: 15vh;
  background: transparent;
}
@media (min-width: 820px) {
  #header.active-header {
    height: 25vh;
  }
}
#header.active-header .hamburger .menu {
  background: #000a;
}
#header.active-header .hamburger .menu p {
  color: #fff;
}
#header.hero-header {
  background: transparent;
}
#header.hero-header .hamburger .line {
  background: #fff;
}
#header.hero-header .hamburger .line::after, #header.hero-header .hamburger .line::before {
  background: inherit;
}
@media (min-width: 820px) {
  #header.hero-header .hamburger .line {
    background: #800000;
  }
  #header.hero-header .hamburger .line::after, #header.hero-header .hamburger .line::before {
    background: inherit;
  }
}
#header.hero-header .hamburger .menu {
  background: #000a;
}
#header.hero-header .hamburger .menu p {
  color: #fff;
}

#home {
  height: 100vh;
  width: 100%;
  padding: 5vh 5vw;
  position: relative;
  isolation: isolate;
}
#home img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 5%;
  z-index: -1;
}
@media (min-width: 768px) {
  #home {
    height: 100vh;
    background: url(../images/desk-hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #home img {
    display: none;
  }
  #home::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), transparent 60%);
    opacity: 1;
  }
}
#home .home-content {
  text-transform: capitalize;
  position: relative;
  top: 15vh;
  transition: 0.25s ease;
  z-index: 1;
  color: #3a2713;
}
@media (min-width: 576px) {
  #home .home-content {
    top: 5vh;
    text-align: center;
  }
}
#home .home-content .home-title h1 {
  font-size: 2.25rem;
  margin-bottom: 0.25rem;
}
#home .home-content .btn i {
  color: #f75394;
}
@media (min-width: 576px) {
  #home .home-content .btn {
    margin: 1rem auto;
  }
}
.slogan {
  background-color: #fafafa;
  position: relative;
  z-index: 1;
  isolation: isolate;
  padding: 10vh 5vw;
  height: 95vh;
  background: url("../images/desk-hero-3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
@media (min-width: 820px) {
  .slogan {
    height: 95vh;
    background-attachment: fixed;
    background-size: contain;
    background-position: right;
  }
  .slogan .slogan-content {
    width: 40%;
    position: relative;
    top: 20vh;
  }
}
.slogan h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.gallery {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0em;
  margin: 5vh auto 10vh;
  max-width: 100%;
  overflow: hidden;
  z-index: 5;
}
.gallery figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 820px) {
  .gallery figure {
    border-radius: 0.5rem;
  }
}
.gallery figure[data-scroll] {
  transform: scale(1) translateY(10vh);
}
.gallery figure[data-scroll=in] {
  transform: scale(1) translateY(0);
}
.gallery figure img {
  width: 100%;
  height: 100%;
  object-position: center;
  transition: 0.3s ease;
}
.gallery figure:hover {
  background-image: radial-gradient(#ffc0cb3f, #a52a2a2d);
}
.gallery figure:hover img {
  transition: 0.3s ease;
  transform: scale(1.05);
}
@media (max-width: 767px) {
  .gallery {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 15vh;
    margin: 5vh 0;
    padding: 5vh 5vw;
  }
  .gallery figure {
    width: 100%;
    height: 100%;
    border: none;
  }
  .gallery figure img {
    object-fit: cover;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  color: #111;
}

[data-scroll] {
  transition: 1.5s;
  opacity: 0;
  transform: scale(0.5) translateY(10vh);
}

[data-scroll=in] {
  opacity: 1;
  transform: scale(1) translateY(0);
}

[data-scroll=out] {
  opacity: 0;
}

#services {
  width: 100%;
}
#services .services {
  margin: 3vh 10vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  text-align: center;
}
@media (max-width: 768px) {
  #services .services {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 5vh 5vw;
  }
}
@media (max-width: 500px) {
  #services .services {
    grid-template-columns: 1fr;
    gap: 10vh;
  }
}
#services .services .service {
  padding: 2em;
  background: #f4f4f4;
  border: none;
  outline: none;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 5px;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}
#services .services .service h2 {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 0.5em;
  color: #800000;
  font-family: "Fredoka One", cursive;
  transition: 0.5s;
}
@media (max-width: 768px) {
  #services .services .service h2 {
    font-size: 1.2em;
  }
}
#services .services .service p {
  font-family: "Varela Round", sans-serif;
  padding: 0.2em 1em;
  color: #800000;
}
#services .services .service .icon {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}
#services .services .service .icon img {
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#services .services .service:hover img {
  transform: scale(1.15);
  z-index: 20;
}
#services .services .service:hover h2 {
  opacity: 0;
}
#services #work-link {
  display: inline-block;
  margin: 0 auto 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border: none;
  outline: none;
  position: relative;
}
#services #work-link .catalogBtn {
  text-decoration: none;
  color: #e0ffff;
  position: relative;
  z-index: 1;
  width: 50%;
  margin: 0em auto;
  padding: 1em 0;
  transition: 0.2s;
}
#services #work-link .catalogBtn a {
  color: #ddd;
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.2em 1em;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  letter-spacing: 0.1rem;
  transition: 0.2s;
}
#services #work-link .catalogBtn a i {
  margin-right: 0.5em;
  color: #ddda;
}
#services #work-link .catalogBtn::before, #services #work-link .catalogBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #f75394;
  z-index: -1;
  transition: 0.3s;
}
#services #work-link .catalogBtn::before {
  background: linear-gradient(0deg, #db0a5e, #f63c86);
  box-shadow: 0 0.25rem 0.5rem rgba(255, 194, 204, 0.1), inset 2px 2px 5px rgba(255, 255, 255, 0.15), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
}
#services #work-link .catalogBtn::after {
  background: linear-gradient(0deg, #f63c86, #db0a5e);
  opacity: 0;
  box-shadow: 0 0.15rem 0.25rem rgba(255, 194, 204, 0.2), inset 2px 2px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 2px rgba(255, 255, 255, 0.15);
}
@media (min-width: 768px) {
  #services #work-link .catalogBtn:hover {
    transform: scale(0.98);
  }
  #services #work-link .catalogBtn:hover a {
    letter-spacing: normal;
  }
  #services #work-link .catalogBtn:hover::before {
    opacity: 0;
  }
  #services #work-link .catalogBtn:hover::after {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  #services #work-link .catalogBtn:active {
    transform: scale(0.98);
  }
  #services #work-link .catalogBtn:active a {
    letter-spacing: normal;
  }
  #services #work-link .catalogBtn:active::before {
    opacity: 0;
  }
  #services #work-link .catalogBtn:active::after {
    opacity: 1;
  }
}
#services h2 {
  text-transform: capitalize;
}

#work {
  padding: 5vh 0;
}
#work .portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5vh 10vw;
}
@media (max-width: 767px) {
  #work .portfolio {
    margin: 2vh 5vw;
  }
}
#work .portfolio .item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 768px) {
  #work .portfolio .item {
    width: 100%;
    height: 50vh;
    margin: 1em;
  }
  #work .portfolio .item img {
    border-radius: 5px;
  }
}
#work .portfolio .item img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: fill;
}
#work .portfolio .item:hover img {
  transform: scale(1.2);
}
#work .portfolio .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000a;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transition: 0.5s ease;
  color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}
#work .portfolio .item .action h3 {
  font-size: 1.2em;
  padding: 0.2em 1em;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #f75394;
  text-decoration: underline rgba(255, 192, 203, 0.692);
}
#work .portfolio .item .action p {
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-family: "Varela Round", sans-serif;
}
#work .portfolio .item .action button {
  display: inline-block;
  background: linear-gradient(0deg, #db0a5e, #f63c86);
  color: #f4f4f4;
  font-weight: 500;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0.7em 1.5em;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  box-shadow: inset 2px 2px 3px #fff2, inset -2px -2px 3px #0003;
}
#work .portfolio .item:hover .action {
  transition: 1s ease;
  transform: scale(1.05);
  opacity: 1;
}

#contact {
  overflow-x: hidden;
}
#contact .title {
  text-align: left;
}
#contact .title p {
  font-size: 1rem;
  text-transform: none;
  line-height: 1.6;
}
#contact .title p a {
  color: #f75394;
  font-weight: 600;
}
#contact .title p a:hover {
  color: #b768a2;
}

.contact {
  position: relative;
  width: 100%;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .contact {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
}
.contact .contact-info-title {
  text-transform: capitalize;
  text-align: center;
  margin: 1em auto 1.5em;
  color: #800000;
  text-shadow: 2px 2px 0 pink;
}
.contact .contact-form {
  position: relative;
  background: #f9f9f9;
  width: calc(100% - 400px);
  padding: 10vh 0 20px;
  margin: 10vh 0;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .contact .contact-form {
    width: 100%;
    padding: 30px 1rem 30px;
    border-radius: 0;
  }
}
.contact .contact-form form {
  width: 100%;
}
.contact .contact-form form .row {
  width: 100%;
  display: flex;
}
@media (max-width: 1024px) {
  .contact .contact-form form .row {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .contact .contact-form form .rowlabel {
    font-size: 0.8em;
  }
}
.contact .contact-form form .row fieldset {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  border: 0.1rem solid #51361a;
  height: auto;
  border-radius: 0.25rem;
  overflow: hidden;
}
.contact .contact-form form .row fieldset legend {
  color: #51361a;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin-left: 0.5em;
  padding: 0 0.25rem;
}
.contact .contact-form form .row fieldset#contact-field {
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .contact .contact-form form .row fieldset#contact-field {
    flex-direction: column;
    margin-bottom: 5vh;
    height: auto;
    padding: 1rem 0.5rem 2rem;
  }
  .contact .contact-form form .row fieldset#contact-field .input50 {
    height: auto;
  }
}
@media (max-width: 350px) {
  .contact .contact-form form .row fieldset#contact-field {
    height: auto;
  }
}
.contact .contact-form form .row fieldset#treats {
  padding: 1rem 0.5rem;
}
.contact .contact-form form .row fieldset#treats label {
  position: relative;
  transform: translateY(1em);
}
.contact .contact-form form .row fieldset#treats option {
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .contact .contact-form form .row fieldset#treats {
    flex-direction: column;
    height: auto;
    padding: 1em 0.5em 10vh;
    margin: 10vh auto;
  }
  .contact .contact-form form .row fieldset#treats .input50 {
    height: auto;
  }
}
@media (max-width: 350px) {
  .contact .contact-form form .row fieldset#treats {
    height: auto;
  }
}
.contact .contact-form form .row label {
  text-transform: capitalize;
  color: #800000;
  position: absolute;
  top: 1em;
  font-size: 1rem;
  font-weight: 500;
  left: 0;
  padding: 0 4em 0em 0;
  letter-spacing: 0.05rem;
  transform: translateY(50%);
}
.contact .contact-form form .row label.required::after {
  content: "*";
  color: #f75394;
  font-weight: 800;
}
.contact .contact-form form .row .input50 {
  width: 50%;
}
.contact .contact-form form .row .input100 {
  width: 100%;
  margin: 0 10px;
}
.contact .contact-form form .row #custom-classic label {
  position: relative;
  transform: translateY(1em);
}
.contact .contact-form form .row #custom-classic h3 {
  width: 100%;
  text-align: center;
  margin: 2em auto 0;
  background: #f75394;
  color: #f0ffff;
  border-radius: 5px;
  padding: 0.2em;
}
.contact .contact-form form .row #custom-classic select {
  font-size: 1em;
  text-transform: capitalize;
}
.contact .contact-form form .row .input50, .contact .contact-form form .row .input100 {
  width: 100%;
  height: 100%;
  position: relative;
}
.contact .contact-form form .row input, .contact .contact-form form .row textarea, .contact .contact-form form .row select {
  position: relative;
  border: 2px solid #333;
  color: #000;
  background: transparent;
  width: 100%;
  padding: 0.7em 0.5em;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  margin: 1em 0 5vh;
  resize: none;
  bottom: -2em;
  border-radius: 5px;
  transition: 0.2s linear;
}
.contact .contact-form form .row input::placeholder, .contact .contact-form form .row textarea::placeholder, .contact .contact-form form .row select::placeholder {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  color: rgba(151, 149, 149, 0.822);
  color: #333;
}
.contact .contact-form form .row input:invalid, .contact .contact-form form .row textarea:invalid, .contact .contact-form form .row select:invalid {
  border: 1px solid #654321;
  background-color: #eee;
}
.contact .contact-form form .row input:valid, .contact .contact-form form .row textarea:valid, .contact .contact-form form .row select:valid {
  border: 2px solid pink;
}
.contact .contact-form form .row input optgroup, .contact .contact-form form .row textarea optgroup, .contact .contact-form form .row select optgroup {
  text-transform: capitalize;
}
.contact .contact-form form .row input optgroup option, .contact .contact-form form .row textarea optgroup option, .contact .contact-form form .row select optgroup option {
  text-transform: lowercase;
}
.contact .contact-form form .row input optgroup select, .contact .contact-form form .row textarea optgroup select, .contact .contact-form form .row select optgroup select {
  text-transform: capitalize;
}
.contact .contact-form form .row input:focus::placeholder, .contact .contact-form form .row textarea:focus::placeholder, .contact .contact-form form .row select:focus::placeholder {
  transition: 0.4s;
  letter-spacing: normal;
  opacity: 1;
}
.contact .contact-form form .row input[type=submit], .contact .contact-form form .row textarea[type=submit], .contact .contact-form form .row select[type=submit] {
  background: linear-gradient(0deg, #660000, #cc0000);
  color: #fff;
  width: 20rem;
  display: block;
  margin: 0 auto 10vh;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  font-weight: 300;
  border: 0;
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0.25rem 0.5rem rgba(255, 194, 204, 0.1), inset 2px 2px 5px rgba(255, 255, 255, 0.15), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .contact .contact-form form .row input[type=submit], .contact .contact-form form .row textarea[type=submit], .contact .contact-form form .row select[type=submit] {
    margin: 0 auto 10vh;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .contact .contact-form form .row input[type=submit]:hover, .contact .contact-form form .row textarea[type=submit]:hover, .contact .contact-form form .row select[type=submit]:hover {
    letter-spacing: normal;
    transition: 0.25s ease;
    transform: scale(0.985);
    background: linear-gradient(0deg, #b30000, maroon);
  }
}
@media (max-width: 768px) {
  .contact .contact-form form .row input[type=submit]:active, .contact .contact-form form .row textarea[type=submit]:active, .contact .contact-form form .row select[type=submit]:active {
    letter-spacing: normal;
    transition: 0.25s ease;
    transform: scale(0.985);
    background: linear-gradient(0deg, #b30000, maroon);
  }
}
.contact .contact-form form .row textarea {
  height: 150px;
  margin-bottom: 10vh;
}
.contact .contact-info {
  width: 350px;
  background: #f9f9f9;
  padding: 10vh 0.5rem 20px;
  margin: 10vh 0;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .contact .contact-info {
    margin: 1rem auto;
  }
}
.contact .contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  padding: 1rem 0.5em;
  border: 1px solid #51361a;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 767px) {
  .contact .contact-info .info-box {
    margin: 0.5em 0 5vh;
  }
}
.contact .contact-info .info-box .contact-icon {
  width: 20px;
  margin-right: 0.5em;
  font-size: 2em;
  color: #51361a;
}
.contact .contact-info .info-box .details {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  width: 100%;
  transform: translateX(-0.5em);
  transition: 0.2s ease;
}
.contact .contact-info .info-box .details h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #51361a;
  margin-bottom: 0.5em;
  text-transform: capitalize;
}
.contact .contact-info .info-box .details a, .contact .contact-info .info-box .details p {
  font-family: "Varela Round", sans-serif;
  color: #800000;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin: 0.5em 0;
  transition: 0.2s ease;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 500px) {
  .contact .contact-info .info-box .details a, .contact .contact-info .info-box .details p {
    font-size: 0.9em;
  }
}
.contact .contact-info .info-box .details a:hover, .contact .contact-info .info-box .details p:hover {
  transition: 0.2s ease;
  transform: scale(1.04);
}
.contact .contact-info .info-box .details a:hover::before, .contact .contact-info .info-box .details p:hover::before {
  opacity: 0;
}
.contact .contact-info .info-box .details a:hover::after, .contact .contact-info .info-box .details p:hover::after {
  opacity: 1;
}
.contact .contact-info .info-box:hover .details {
  transform: translateX(0);
}

#thankYou {
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1024px) {
  #thankYou {
    font-size: 1em;
  }
  #thankYou ul li {
    padding: 5em;
  }
}
#thankYou p {
  text-align: center;
}
#thankYou ul {
  margin-top: 3em;
  width: 20%;
  text-align: left;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  #thankYou ul {
    width: 60%;
  }
}
#thankYou ul li {
  margin: 2em 0;
  padding: 0.5em 1em;
  list-style: none;
}
#thankYou ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0.5em 0.1em;
  width: 100%;
  height: 100%;
}
#thankYou ul li a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: -1;
  box-shadow: inset 2px 2px 5px #ddda, inset -2px -2px 5px #000a;
}
#thankYou ul li a i {
  margin: 0 1em;
  color: #333a;
  transition: 0.2s;
}
#thankYou ul li:hover {
  transition: 0.2s;
  transform: scale(0.98);
}
#thankYou ul li:hover i {
  color: #f75394;
}
#thankYou ul li:active {
  transform: scale(0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Varela Round", sans-serif;
}

body {
  background: #f4f4f4;
  color: #3a2713;
}

.container {
  width: 100%;
}

main .title {
  text-align: center;
  padding: 5vh 5vw 1rem;
}
main .title h1 {
  text-transform: capitalize;
  color: #654321;
  font-size: 2rem;
  margin-bottom: 1rem;
}
main .title h1 i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
main .title p {
  text-transform: capitalize;
}

footer {
  width: 100%;
  background-color: pink;
  margin: 1rem 0 0;
  padding: 10vh 5vw;
  text-align: center;
}
footer p {
  backdrop-filter: blur(2em);
  font-size: 1rem;
  margin: 0 auto;
  color: #000;
  font-weight: 400;
  line-height: 1.7;
  text-transform: capitalize;
}
footer p span {
  color: #51361a;
}
@media (max-width: 768px) {
  footer {
    width: 100%;
  }
  footer p {
    text-align: center;
    font-size: 1rem;
  }
}
footer a {
  color: #654321;
  text-decoration: none;
  position: relative;
}
footer a::before {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateY(0.5em) scale(0.1);
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  background-color: #51361a;
  transition: 0.5s ease;
}
footer:hover a::before {
  opacity: 0.6;
  width: 100%;
  transform: translateY(0em);
}

/*# sourceMappingURL=style.css.map */
