
$text-color-dark: #111;
$text-color-light: #fefefe;
$text-color-pink: #f75394;
$text-color-purple: #b768a2;
$text-color-brown: #800000;

$brand-radius: .5rem;
/*munch theme*/
$brand-pink: #f75394;
$brand-pink-light: #f86da5;
$brand-brown: hsl(31, 51%, 20%);
$brand-brown-light: hsl(31, 51%, 30%);
$munch-brown-light: hsla(0, 100%, 25%, 0.469);
$munch-brown: #800000;
$munch-brown-dark: #654321;
$munch-brown-darkest: #51361a;

$munch-purple: #b768a2;
$munch-pink-light: pink;
$munch-pink: #f75394;
$munch-celeste: #b2ffff;
$munch-cyan: #e0ffff;
$munch-bubble: #e7feff;
$munch-mist: #f0ffff;
$munch-blue: #9abcde;
$munch-blue-dark: #1664b1;
$munch-gray: #434343;
$munch-white: #fff;
$munch-background: radial-gradient(#ffc0cb3f, #a52a2a2d);
$munch-background-dark: #000;
$munch-background-light: #fff;


$nav-bg: #eee;
$munch-bg: #fde9ed;

$btn-red: #eb395d;
$btn-brown: #800000;
$submit-btn: linear-gradient(0deg, hsl(0, 100%, 20%), hsl(0, 100%, 40%) );
$submit-btn-hover: linear-gradient(0deg, hsl(0, 100%, 35%), hsl(0, 100%, 25%));
$btn-gradient: linear-gradient(0deg, hsl(336, 91%, 45%), hsl(336, 91%, 60%) );
$btn-gradient-hover: linear-gradient(0deg , hsl(336, 91%, 60%), hsl(336, 91%, 45%) );

$brand-btn: linear-gradient(0deg, hsl(31, 51%, 20%), hsl(31, 51%, 30%) );
$brand-btn-hover: linear-gradient(0deg, hsl(31, 53%, 30%), hsl(32, 52%, 20%) );



$btn-shadow:  0 .25rem .5rem hsla(350, 100%, 88%, .1),
                inset 2px 2px 5px rgba(255, 255, 255, 0.150),
                inset -2px -2px 5px rgba(0, 0, 0, 0.20);

$btn-shadow-hover :  0 .15rem .25rem hsla(350, 100%, 88%, .2),
                        inset 2px 2px 2px rgba(0, 0, 0, 0.200),
                        inset -2px -2px 2px rgba(255, 255, 255, 0.150);

$links-shadow:  inset -2px -2px 5px $munch-brown-dark,
                inset 2px 2px 10px #fff;

$links-shadow-hover:
                    inset -2px -2px 5px #fffa,
                    inset 2px 2px 5px $munch-brown-dark;

$hamburger-shadow: inset -2px -2px 2px #000a,
                    inset 2px 2px 2px #fffa,
                    2px 2px 3px rgba(0, 0, 0, 0.200);

$hamburger-shadow-hover: inset -2px -2px 3px #fffa,
                        inset 2px 2px 3px #000a,
                        2px 2px 2px rgba(0, 0, 0, 0.250);