   // MENU TOGGLE
    .hamburger {
        height: auto;
        width: max-content;
        width: 2rem;
        height: 2rem;
        // border: 2px solid $munch-brown-dark;
        outline: none;
        padding: 0;
        border-radius: 50%;
        z-index: 20;
        cursor: pointer;
        transition: .25s;
        display: grid;
        place-items: center;

        .line {
            width: 50%;
            height: .125rem;
            background: $munch-brown-dark;
            // border: 2px solid red;
            position: relative;
            border-radius: 5rem;
            transition: .25s;

            &::after, &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: $munch-brown-dark;
                border-radius: 5rem;
                transition: .25s;
            }
            &::before {
                transform: translateY(-.3rem);
            }
            &::after {
                transform: translateY(.3rem);
            }
        }

        .menu {
            border: .15rem solid #000;
            background: #fffa;
            border-radius: 1rem;
            width: 100%;
            height: 2rem;
            margin: 0;
            padding: 0 .5rem;
            display: grid;
            place-items: center;
            letter-spacing: .2rem;

            p {
                color: #000;
                font-size: .7rem;
                font-weight: 600;
                // padding: .5rem;
                text-transform: uppercase;
                transition: .25s;
            }

        }
    
        // JS CLASS
        &.active-menu {
            transform: scale(.95);
            
            .line {
                background: #f4f4f4;
                &::before {
                    background: #f4f4f4;
                    transform: translateY(-.3rem) translateX(.25rem);
                }

                &::after {
                    background: #f4f4f4;
                    transform: translateY(.3rem) translateX(-.25rem);
                }
            }
            .menu {
                border-color: #000;
                background: #000a;
                letter-spacing: normal;

                p {
                    color: #fff;
                }
            }
        }

        @include lg {
            display: none;
        }
}


.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color-light;
    
    padding: .8rem .8rem;
    width: 13rem;
    margin: 1rem 0;
    
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .025rem;
    
    border-radius: $brand-radius;
    cursor: pointer;
    transition: .25s ease;
    isolation: isolate;
    position: relative;

    i {
        transition: .25s;
        color: $brand-pink-light;
    }
    
    &::before,
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .25s ease;
        border-radius: inherit;
        z-index: -1;
    }

    &::before {
        box-shadow: $btn-shadow;
    }

    &::after {
        opacity: 0;
        box-shadow: $btn-shadow-hover;
    }

    &.btn-primary {
        &::before {
            background: $btn-gradient;
            background: $brand-btn;
        }
        &::after {
            background: $btn-gradient-hover;
            background: $brand-btn-hover;
        }
    }

    &.btn-secondary {
        color: $munch-pink;
        &::before {
            background: #000;
        }
        &::after {
            background: #fff000;
        }
    }


    // BTN HOVER AN D ACTIVE MEDIA QUERY
    // DESKTOP HOVER
    @media (min-width: 768px) {
        &:hover {
            letter-spacing: normal;
            transform: scale(.98);

            i {
                transform: translateX(-.05rem);
            }

            &::before {
                opacity: 0;
            }  
            &::after {
                opacity: 1;
            }
        }
    }
    // MOBILE ACTIVE
    @media (max-width: 768px) {
        &:active {
            letter-spacing: normal;
            transform: scale(.98);

            i {
                transform: translateX(-.05rem);
            }

            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }
    }
}

.top-btn {
    position: fixed;
    right: 5vw;
    bottom: -5vh;
    opacity: 0;
    transition: 1s;
    z-index: 10;
    a {
        width: 100%;
        height: 100%;
        // border: 2px solid red;
        display: grid;
        place-content: center;
        text-decoration: none;
        i {
            padding: .25rem;
            background: $brand-btn;
            border-radius: .15rem;
            color: #f4f4f4;
            font-size: 1.25rem;
            // border-radius: 50%;
            // border-radius: .25rem;
            // // border: 1px solid #000;
            // background: hsla(350, 100%, 88%, .8);
            transition: .2s;
        }

        &:hover {
            i {
                background: hsla(350, 100%, 88%, 1);
            }
        }
    }

    &.active-btn {
        bottom: 5vh;
        opacity: 1;
    }
}

// BUTTON BACKGROUND
.btn-bg {

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border: none;
        outline: none;
        z-index: -1;
        transition: .3s ease;
    }

    &::before {
        background: red;
        background: yellow;
        // box-shadow: $box-light-top-sm;
    }

    &::after {
        background: blue;
        // box-shadow: $box-dark-top-sm;
        opacity: 0;
    }
}

// LOADER 
.loader_bg {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(30deg, #faecee, #fff);
    overflow: hidden;
    z-index: 999;
    display: grid;
    place-items: center;

    .loader {
        border: none;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity: 1;
            border: .5rem solid $munch-pink-light;
            border-top: .25rem solid $munch-brown;
            // border-radius: 50%;
            z-index: 2;
            animation: spinner 2s linear infinite;
        }

        @keyframes spinner {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
    }
    }

    .spinner {
        height: 4rem;
        width:  4rem;
        position: relative;
        @include md {
            height: 5rem;
            width: 5rem;
        }
        .sector {
            position: absolute;
            width: 100%;
            height: 100%;
            border: .25rem solid transparent;
            border-radius: 50%;
            animation: spinner 2s infinite;
            // mix-blend-mode: overlay;
            
            &.sector-1 {
                border-left-color: $munch-pink;
                // animation-delay: .5s;
                animation-timing-function: ease-in-out;
            }
            &.sector-2 {
                border-top-color: purple;
                // animation-delay: 1s;
                animation-timing-function: ease-in;
            }
            &.sector-3 {
                border-right-color: $munch-brown;
                animation-timing-function: ease-out;

            }
        }
    }
}
