#home {
    height: 100vh;
    width: 100%;
    padding: 5vh 5vw;
    position: relative;
    isolation: isolate;
    // PSEUDO BG
    @include xlg {

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: #fff;
            border-radius: 40%;
            z-index: -2;
        }
    }
    figure {
        width: 100%;
        inset: 0;
        position: absolute;
        @include lg {
            width: 50%;
            position: absolute;
            left: unset;
            bottom: unset;
            right: 5vw;
            top: 20vh;
            height: 70vh;
            border-radius: 5rem;
            overflow: hidden;
        }
        @include xlg {
            border-radius: 40%;
        }

        img {
            object-fit: cover;
            object-position: 5%;
            z-index: -1;
            height: 100%;

            @include lg {
                object-position: left;
            }
    
        }
    }
    
    


    .home-content {
        // border: 1px solid #000;
        text-transform: capitalize;
        position: relative;
        top: 15vh;
        transition: .25s ease;
        z-index: 1;
        @include lg {
            top: 50%;
            transform: translateY(-50%);
        }

        
        .home-title {
            color: $brand-brown;
            margin-bottom: 1rem;
            h1 {
                font-size: 2.25rem;
                font-size: $font-clamp-lg;
                margin-bottom: .5rem;
            }

            p {
                font-size: $font-clamp-sm;
                font-size: clamp(1.25rem, 3vw, 1.5rem);
            }

        }

        .cta {
            // border: 2px solid red;
            // width: max-content;
            
            .btn {
                // margin: 1rem auto;
                width: 12rem;
                i {
                    color: $brand-pink;
                }
                @include sm {
                    // margin: 1rem auto;
                }
            }
        }

    }

    .meta-p {
        position: absolute;
        bottom: 15vh;
        color: $brand-brown-light;
        font-size: 1.15rem;
        font-size: $font-clamp-sm;

        i {
            width: 1.25rem;
        }
    }

}