#home {
    // border: 2px solid blue;
    height: 100vh;
    width: 100%;
    padding: 5vh 5vw;
    // background: #0003;
    // background: url(../images/hero-1.jpg);
    // background: url(../images/desk-hero.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // background-position: 0% 5%;
    position: relative;
    isolation: isolate;
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 5%;
        z-index: -1;
        // mix-blend-mode: darken;
    }

    // DESKTOP HERO
    @include lg {
        height: 100vh;
        img {
            display: none;
        }
        background: url(../images/desk-hero.jpg);
        background: url(../images/desk-hero-3.jpg);
        background: url(../images/alex-lvrs-1Qn9aCv4T3E-unsplash.jpg);
        background-color:#ffff;
        background-attachment: fixed;
        // background-size: contain;
        background-position: 100% 70%;
        background-size: 60%;
        // background-position: bottom right;
        // background-position: 100% 100%;
        background-repeat: no-repeat;
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, .15), transparent 60%);
            background: #fff;
            opacity: 0;
        }
    }

    

    .home-content {
        // border: 1px solid #fff3;
        // backdrop-filter: blur(.15rem);
        text-transform: capitalize;
        position: relative;
        top: 15vh;
        transition: .25s ease;
        z-index: 1;
        @include md {
            top: 25vh;
            // text-align: center;
        }
        @include xlg {
            top: 30vh;
        }

        color: $brand-brown;

        .home-title {
            h1 {
                font-size: 2.25rem;
                font-size: $font-clamp-lg;
                margin-bottom: 1rem;
            }
        }

        .cta {
            // border: 2px solid red;
            width: max-content;
            p {
                color: $brand-brown-light;
                font-size: 1.15rem;
                font-size: $font-clamp-sm;
            }
            .btn {
                // margin: 1rem auto;
                width: 100%;
                i {
                    color: $brand-pink;
                }
                @include sm {
                    // margin: 1rem auto;
                }
            }
        }

    }

}