* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


body {
    color: $text-color-dark;;
}

// SCROLL OUT
[data-scroll] {
    transition: 1s;
    transform: scale(.5);
}

[data-scroll="in"] {
    opacity: 1;
    transform: scale(1);
}

[data-scroll="out"] {
    opacity: 0;
}
// END OF SCROLL OUT