#services {
    width: 100%;
    // overflow-x: hidden;
    
    .services {
        // border: 2px solid red;
        display: grid;
        // text-align: center;
        gap: 5vw;
        padding: 0 5vw;
        @include sm {
                grid-template-columns: repeat(2, 1fr);
        }
        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }
        // @media(max-width:768px){
        // }
        // @media(max-width:500px){
        //     grid-template-columns: 1fr;
        //     gap: 5vh;
        // }
        

        

        .service {
            padding: 1rem;
            background: #fff;
            overflow: hidden;
            transition: .3s;
            border-radius: .25rem;
            transform-style: preserve-3d;
            position: relative;
            cursor: pointer;
            color: $munch-brown-dark;
            @include sm {
                text-align: center;
            }
            h2 {
                font-size: 1.25rem;
                font-weight: 600;
                margin-bottom: .5rem;
                transition: .5s;
                // padding: 0 1rem;
            }

            p {
                margin-bottom: 1rem;
                // padding: 0 1rem;
            }

            .icon {
                // border: 2px solid blue;
                transition: .5s;
                img {
                    width: 100%;
                    border-radius: .25rem;
                    object-fit: cover;
                    transition: .25s;
                    @include sm {
                        height: 60vh;
                        object-fit: contain;
                    }
                }
            }
        }
        
    }
    #work-link {
        display: block;
        width: 100%;
        text-align: center;
        padding: 1rem 5vw;
        // border: 2px solid red;
    }




    h2 {
        text-transform: capitalize;
    }
}