#work {
    padding: 5vh 0;
    .portfolio {
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // margin: 5vh 10vw;
        padding: 5vh 5vw;
        // border: 2px solid red;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        gap: 5vh;
        @include sm {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            // grid-template-rows: 20vh;
        }
        @include md {
            grid-template-columns: 1fr 1fr 1fr;
            // gap: 1rem;
        }
        .item {
            // border: 2px solid red;
            position: relative;
            // width: 200px;
            // height: 300px;
            // margin: .5em;
            cursor: pointer;
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            @include lg {
                width: 80%;
            }
            
            img {
                object-fit: cover;
                width: 100%;
                transition: .5s;
                height: 100%;
                // @include lg {
                //     width: 70%;
                // }
            }
            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
            .action {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000a;
                // display: flex;
                // flex-direction: column;
                // // justify-content: space-evenly;
                display: grid;
                place-content: center;
                place-items: center;
                padding: 1rem; 
                opacity: 0;
                transition: .5s ease;
                color: #ddd;
                border-radius: 5px;
                overflow: hidden;

                h3 {
                    font-size: 1.25rem;
                    margin-bottom: .5rem;
                    border-radius: 5px;
                    font-weight: 700;
                    text-align: center;
                    text-transform: capitalize;
                    color: $text-color-pink;
                    // text-decoration: underline rgba(255, 192, 203, 0.192);
                }

                p {
                    // padding: .5em;
                    // margin: 1em;
                    border-radius: 5px;
                    text-align: center;
                    font-weight: 500;
                    font-family: $content-font;
                }


                button {
                    display: inline-block;
                    background: $btn-gradient;
                    color: #f4f4f4;
                    font-weight: 500;
                    text-decoration: none;
                    border: none;
                    outline: none;
                    padding: .6rem 1rem;
                    margin: 1rem auto;
                    border-radius: $brand-radius;
                    cursor: pointer;
                    width: 100px;
                    box-shadow: inset 2px 2px 5px #fff2,
                                inset -2px -2px 5px #0003;
                }
            }

            &:hover .action {
                transition: 1s ease;
                transform: scale(1.05);
                opacity: 1;
            }
            
        }
    }
}