   // MENU TOGGLE
    .hamburger {
        height: auto;
        width: 5rem;
        // border: 2px solid $munch-brown-dark;
        outline: none;
        padding: 0;
        // border-radius: 50%;
        z-index: 20;
        cursor: pointer;
        transition: .25s;

        .menu {
            border: .15rem solid $munch-pink;
            background: #fffa;
            border-radius: 1rem;
            width: 100%;
            height: 2rem;
            margin: 0;
            padding: 0;
            display: grid;
            place-items: center;
            letter-spacing: .2rem;

            p {
                color: #000;
                font-size: .9rem;
                font-weight: 600;
                // padding: .5rem;
                text-transform: uppercase;
                transition: .25s;
            }

        }
    
        // JS CLASS
        &.active-menu {
            transform: scale(.95);
            .menu {
                border-color: #000;
                background: #000a;
                letter-spacing: normal;

                p {
                    color: #fff;
                }
            }
        }
}


.btn {
    position: relative;
    display: block;
    font-family: $header-font;
    cursor: pointer;
    display: inline-block;
    color: $text-color-light;
    background-color: $munch-pink;
    text-decoration: none;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    padding: .5em 1em;
    width: 15rem;
    margin: 1em auto;
    // margin: 5em auto;
    transition: .3s ease;
    font-size: 1.15rem;
    text-transform: capitalize;
    letter-spacing: .05rem;
    isolation: isolate;
    z-index: 1;

    &::before,
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .3s ease;
        border-radius: 1.5rem;
        // background: $btn-brown; 
        z-index: -1;
    }

    &::before {
        background: $btn-gradient;
        box-shadow: $btn-shadow;
    }

    &::after {
        opacity: 0;
        background: $btn-gradient-hover;
        box-shadow: $btn-shadow-hover;
    }

    // BTN HOVER AN D ACTIVE MEDIA QUERY
    // DESKTOP HOVER
    @media (min-width: 768px) {
        width: 20rem;
        &:hover {
            transition: .2s ease;
            letter-spacing: normal;
            transform: scale(.98);
            &::before {
                opacity: 0;
            }  
            &::after {
                opacity: 1;
            }
        }
    }
    // MOBILE ACTIVE
    @media (max-width: 768px) {
        &:active {
            transition: .2s ease;
            letter-spacing: normal;
            transform: scale(.98);

            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }
    }
}

.top-btn {
    position: fixed;
    bottom: -5vh;
    opacity: 0;
    transition: 1s;
    right: 1rem;
    z-index: 10;
    a {
        width: 100%;
        height: 100%;
        i {
            color: #000;
            font-size: 1.5rem;
            border-radius: 50%;
            border: 2px solid #000;
            background: hsla(350, 100%, 88%, .5);
            padding: .2rem;
            transition: .2s;
        }

        &:hover {
            i {
                border: 2px solid #000a;
                background: hsla(350, 100%, 88%, 1);
            }
        }
    }

    &.active-btn {
        bottom: 5vh;
        opacity: 1;
    }
}