@import 'variables';
@import 'mixin';
@import 'components';
@import 'header';
@import 'home';
@import 'slogan';
@import 'reset';
@import 'services';
@import 'work';
@import 'contact';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $content-font;
}
body {
    background: #f4f4f4;
    color: $brand-brown;
}

.container {
    width: 100%;
}

main {
    // padding: 10vh 0 0;
    // border: 2px solid red;

    .title {
        text-align: center;
        padding: 5vh 5vw 1rem;
        // border: 3px solid blue;

        h1 {
            text-transform: capitalize;
            color: $munch-brown-dark;
            font-size: 2rem;
            margin-bottom: 1rem;

            i {
                font-size: 1.5rem;
                margin-right: .5rem;
            }
        }

        p {
            text-transform: capitalize;
        }
    }
}

footer {
    width: 100%;
    background-color: $munch-pink-light;
    margin: 1rem 0 0;
    padding: 10vh 5vw;
    text-align: center;

    p {
        backdrop-filter: blur(2em);
        font-size: 1rem;
        margin: 0 auto;
        color: #000;
        font-weight: 400;
        line-height: 1.7;
        text-transform: capitalize;

        span {
            color: $munch-brown-darkest;
        }
    }

    @media (max-width: 768px) {
        width: 100%;

        p {
            text-align: center;
            font-size: 1rem;
        }
    }

    a {
        color: $munch-brown-dark;
        text-decoration: none;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            transform: translateY(.5em) scale(.1);
            left: 0;
            width: 100%;
            height: 2px;
            opacity: 0;
            background-color: $munch-brown-darkest;
            transition: .5s ease;
        }
    }

    &:hover {
        a {
            &::before {
                opacity: .6;
                width: 100%;
                transform: translateY(0em);
            }
        }
    }
}



