@use '../abstracts';

#contact {
    overflow-x: hidden;
    background: #eee;
    padding-top: 5vh;

    // CONTACT PAGE TITLE (FORM INFO)
    .title {
        text-align: left;
        text-wrap: balance;
        p {
            font-size: 1rem;
            font-size: clamp(1rem, 1.25vw, 1.125rem);
            text-transform: none;
            line-height: 1.6;
            max-width: 768px;
            a {
                color: abstracts.$munch-pink;
                font-weight: 600;

                &:hover {
                    color: abstracts.$munch-purple;
                }
            }
        }
    }

}
// CONTACT SECTION = INFO + FORM
.contact {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex-direction: column;
    padding: 5vh 0;
    @include abstracts.lg {
        padding: 10vh 5vw;
        justify-content: space-between;
        align-items: flex-start;

    }
    // CONTACT SECTIONS TITLES
    .contact-info-title {
        text-transform: capitalize;
        padding: 10vh 0 10vh;
        color: abstracts.$munch-brown;
        font-weight: 600;
        font-size: abstracts.$font-clamp-md;
    }

}

// CONTACT FORM
.contact-form {
    position: relative;
    background: #f4f4f4;
    padding: 5vh 5vw;
    margin-inline: auto;
    width: 100%;
    
    form {
        // width: 100%;
        // border: 2px solid red;
        .row {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include abstracts.md {
                flex-direction: row;
                align-items: flex-start;
                gap: 2rem;
            }
            
            fieldset {
                background: #ffff;
                padding: 1rem .5rem;
                display: flex;
                flex-direction: column;
                border: .1rem solid #0002;
                border-radius: .25rem;
                overflow: hidden;
                margin-bottom: 2rem;

                legend {
                    color: abstracts.$munch-brown;
                    font-weight: 700;
                    font-size: 1.125rem;
                    letter-spacing: .15rem;
                    text-transform: capitalize;
                    margin-left: .5em;
                    padding: 0 .25rem;

                }
                // CONTACT INFO FIELDSET
                &#contact-field {
                    flex-direction: row;
                    gap: .5rem;
                    padding: .5rem;
                    width: 100%;
                    
                    @media (max-width: 1024px){
                        flex-direction: column;
                        margin-bottom: 5vh;
                        padding: 1rem .5rem 2rem;
                        
                        .input50 {
                            height: auto;
                    }
                    }
                    @media (max-width: 350px){
                        height: auto;
                    }
                }
                // TREATS FIELD
                &#treats {
                    label {
                        position: relative;
                        transform: translateY(1em);
                    }
                    option {
                        text-transform: capitalize;
                    }
                    @media (max-width: 1024px){
                        flex-direction: column;
                        // margin-bottom: 5vh;
                        height: auto;
                        padding: 1em .5em 10vh;
                        // margin: 10vh auto;
                        
                        .input50 {
                            height: auto;
                            // padding-right: 1em;
                    }
                    }
                    @media (max-width: 350px){
                        height: auto;
                    }
                }
            }

            
            label {
                text-transform: capitalize;
                color: abstracts.$brand-brown;
                position: absolute;
                top: 1em;
                font-size: 1rem;
                font-weight: 500;
                left: 0;
                padding: 0 4em 0em 0;
                letter-spacing: .05rem;
                transform: translateY(50%);
                &.required::after {
                    content: '*';
                    color: abstracts.$text-color-pink;
                    font-weight: 800;
                }
            }
            .input50 {
                width: 50%;
                // margin: 0 10px;
            }
            .input100 {
                width: 100%;
                margin: 0 10px;
            }
            #custom-classic {
                // overflow: scroll;
                label {
                    position: relative;
                    transform: translateY(1em);
                }
                h3 {
                    width: 100%;
                    text-align: center;
                    margin: 2em auto 0;
                    background: abstracts.$munch-pink;
                    color: abstracts.$munch-mist;
                    border-radius: 5px;
                    padding: .2em;
                }
                select {
                    font-size: 1em;
                    text-transform: capitalize;
                }
            }
            .input50, .input100 {
                width: 100%;
                height: 100%;
                position: relative;
            }
            input, textarea, select {
                position: relative;
                border: 1px solid #333;
                border: none;
                color: #000;
                background: #f4f4f4;
                width: 100%;
                padding: .7em .5em;
                font-size: 1rem;
                font-weight: 500;
                margin: 1em 0 5vh;
                resize: none;
                bottom: -2em;
                border-radius: 5px;
                transition: .2s linear;

                &::placeholder {
                    font-size: .9rem;
                    font-weight: 400;
                    opacity: 0;
                    letter-spacing: .05rem;
                    text-transform: capitalize;
                    color: rgba(151, 149, 149, 0.822);
                    color: #333;
                }
                &:invalid {
                    border: 1px solid #0002;
                }
                
                optgroup {
                    text-transform: capitalize;
                    option {
                        text-transform: lowercase;
                    }

                    select {
                        text-transform: capitalize;
                    }
                }

                // HOVER STATE
                &:focus {
                    &::placeholder {
                        transition: .4s;
                        letter-spacing: normal;
                        opacity: 1;
                    }
                }

                // SUBMIT BUTTON
                &[type='submit'] {
                    background: abstracts.$submit-btn;
                    color: #fff;

                    width: 10rem;
                    padding: .75rem 1rem;
                    margin: 0 0 10vh;

                    text-align: center;
                    text-transform: capitalize;
                    font-size: 1rem;
                    font-size: clamp(1rem, 2vw, 1.125rem);
                    font-family: abstracts.$content-font;

                    border-radius: abstracts.$brand-radius;
                    border: none;
                    cursor: default;
                    position: relative;
                    box-shadow: abstracts.$btn-shadow;
                   
                    @include abstracts.md {
                        &:hover {
                            cursor: pointer;
                            letter-spacing: normal;
                            transition: .25s ease;
                            transform: scale(.985);
                            background: abstracts.$submit-btn-hover;
                        }
                    }

                    @media (max-width: 768px){
                        &:active {
                            letter-spacing: normal;
                            transition: .25s ease;
                            transform: scale(.985);
                            background: abstracts.$submit-btn-hover;
                        }
                    }
                }
            }

            textarea {
                height: 150px;

            }
            
        }
    }
}

// CONTACT INFO
.contact-info {
    width: 100%;
    background: #f4f4f4;
    padding: 0vh 5vw 10vh;
    border-bottom: 1px solid abstracts.$munch-brown-dark;

    .contact-items {
        padding-top: 5vh;
        display: grid;
        gap: 10vh;
        @include abstracts.md {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
        }
    }

    .info-box {
        background: #fff;
        padding: 1rem;
        border-radius: abstracts.$brand-radius;
        box-shadow: 0 .25rem .5rem hsla(31, 51%, 21%, .15);

        .item-title {
            margin-top: -2rem;
            margin-bottom: 1rem;
            .contact-icon {
                font-size: 2rem;
                color: abstracts.$munch-brown-darkest;
                margin-bottom: .5rem;
                width: 2rem;
                height: 2rem;
            }
            h2 {
                text-transform: capitalize;
                font-size: 1rem;
            }
        }
        
        a, p {
            color: inherit;
            text-decoration: none;
            transition: .25s;
            display: flex;
            gap: 0.5rem;
            &:hover {
                color: abstracts.$brand-pink;
            }
        }
        i {
            color: abstracts.$munch-brown;
            width: 1.5rem;
        }
    }
}

#thankYou {
    @media (max-width:1024px) {
        font-size: 1em;

        ul {
            li {
                padding: 5em;
            }
        }
    }
    font-size: 1.5em;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
        text-align: center;
    }
    ul {
        margin-top: 3em;
        width: 20%;
        text-align: left;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 1024px){
            width: 60%;
        }

        li {
            margin: 2em 0;
            padding: .5em 1em;
            list-style: none;
            
            a {
                color: #000;
                text-decoration: none;
                position: relative;
                display: block;
                padding: .5em .1em;
                width: 100%;
                height: 100%;
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                z-index: -1;
                box-shadow: inset 2px 2px 5px #ddda,
                            inset -2px -2px 5px #000a;
            }  

                i {
                    margin: 0 1em;
                    color: #333a;
                    transition: .2s;
                }
            }
            &:hover {
                transition: .2s;
                transform: scale(.98);

                i {
                    color: abstracts.$munch-pink;
                }
            }
            &:active {
                transform: scale(.9);
            } 
        }
    }
}
