@use '../abstracts';

.hero-grid {
    height: 90vh;
    padding: 10vh auto 5vh;
    // border: 2px solid red;
    background-color: #ffff;
    display: grid;
    grid-template-rows: 50% 50%;

    // DESKTOP GRID 
    @include abstracts.lg {
        margin-bottom: 5vh;
        padding: 30vh 5vw 15vh 0;
        grid-template-rows: 1fr;
        grid-template-columns: 40vw auto;
        background: #fafafa;
    }



    .hero-grid-image {
        // border: 2px solid blue;
        overflow: hidden;

        img {
            // border: 2px solid red;
            object-fit: cover;
            height: 100%;
            width: 100%;
            object-position: 50% 80%;
            @include abstracts.sm {
                object-position: left;
            }
            @include abstracts.lg {
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
            }
        }
    }

    .hero-grid-title {
        padding: 15vh 5vw 0;
        text-transform: capitalize;
        // align-self: end;

        h1 {
            margin-bottom: 0.5rem;
            font-size: clamp(2rem, 4vw, 2.8rem);
        }

        p {
            line-height: 1.4;
            font-size: clamp(1rem, 2vw, 1.125rem);
        }

        .cta {
            margin: 1rem 0 0;
        }

        @include abstracts.lg {
            padding: 0vh 0.5rem 1rem 5vw;
        }
    }
}

#home {
    height: 95vh;
    width: 100%;
    padding: 5vh 5vw;
    position: relative;
    isolation: isolate;
    // PSEUDO BG
    @include abstracts.xlg {
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: #fff;
            border-radius: 40%;
            z-index: -2;
        }
    }
    // HERO IMAGE
    figure {
        width: 100%;
        inset: 0;
        position: absolute;
        background-color: #fff;
        @include abstracts.lg {
            width: 50%;
            position: absolute;
            left: unset;
            bottom: unset;
            right: 5vw;
            top: 20vh;
            height: 70vh;
            border-radius: 5rem;
            overflow: hidden;
        }
        @include abstracts.xlg {
            border-radius: 40%;
        }

        img {
            object-fit: contain;
            object-position: 0% 0%;
            object-position: 0% bottom;
            z-index: -1;
            height: 100%;
            @include abstracts.sm {
                object-position: right;
            }

            @include abstracts.lg {
                object-fit: cover;
                object-position: left;
            }
    
        }
    }

    // HERO CONTENT
    .home-content {
        // border: 1px solid #000;
        text-transform: capitalize;
        position: relative;
        top: 15vh;
        transition: .25s ease;
        z-index: 1;

        @include abstracts.lg {
            top: 50%;
            transform: translateY(-50%);
        }


        .home-title {
            color: abstracts.$brand-brown;
            margin-bottom: 1rem;

            h1 {
                font-size: 2.125rem;
                font-size: abstracts.$font-clamp-lg;
                margin-bottom: 1rem;
            }

            p {
                font-size: abstracts.$font-clamp-sm;
                font-size: clamp(1.25rem, 3vw, 1.5rem);
            }
            
            // LOCATION P
            .meta-p {
                margin-top: .5rem;
                color: abstracts.$brand-brown-light;
                font-size: 1.15rem;
                font-size: abstracts.$font-clamp-sm;

                i {
                    width: 1.25rem;
                }
            }

        }
    }
    // HERO CTA
    .cta {
        // border: 2px solid red;
        // width: max-content;
        // position: absolute;
        // bottom: 10vh;
        // left: 5vw;

        .btn {
            // margin: 1rem auto;
            width: 12rem;

            i {
                color: abstracts.$brand-pink-light;
            }

            @include abstracts.sm {
                // margin: 1rem auto;
            }
        }
    }

    

}