@use '../abstracts';

.hero-grid {
    height: 90vh;
    padding: 10vh auto 5vh;
    // border: 2px solid red;
    background-color: #ffff;
    display: grid;
    grid-template-rows: 50% 50%;
    row-gap: 0.5rem;

    // DESKTOP GRID 
    @include abstracts.lg {
        // border: 2px solid red;
        height: 95vh;
        margin-bottom: 5vh;
        padding: 15vh 0 5vh;
        // padding: 30vh 5vw 15vh 0;
        grid-template-rows: 1fr 1fr;
        grid-template-rows: 40% auto;
        grid-template-columns: 1fr;
        // grid-template-columns: 45vw auto;
        grid-template-areas: 'title title' 
                                'image image';
        background: #fafafa;
        background: linear-gradient(0deg, #f4f4f4, #fff 45%);
    }



    .hero-grid-image {
        // border: 2px solid blue;
        overflow: hidden;
        @include abstracts.sm {
            padding-inline: 5vw;
        }

        img {
            // border: 2px solid red;
            object-fit: cover;
            height: 100%;
            width: 100%;
            object-position: 50% 80%;
            // max-width: 1000px;
            @include abstracts.sm {
                object-position: left;
                object-fit: cover;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
            }
        }
        
        @include abstracts.lg {
            padding-inline: 5vw;
            grid-area: image;
        }
    }

    .hero-grid-title {
        // border: 2px solid red;
        padding: 15vh 5vw 0;
        position: relative;
        
        h1 {
            text-transform: capitalize;
            margin-bottom: 1rem;
            font-size: clamp(1.5rem, 4vw, 2.25rem);
            font-size: 2rem;
            font-size: clamp(1.5rem, 4vw, 3rem);
            line-height: 1.2;
            font-weight: 600;
            text-wrap: balance;
            max-width: 600px;
            // border: 3px solid red;

            span {
                opacity: 0.7;
            }
        }

        .home-title {
            @include abstracts.sm {
                display: flex;
                // border: 1px solid green;
                align-items: start;
                justify-content: space-between;
                width: 100%;
                
            }

            .home-subtitle {
                // border: 1px solid yellow;
                // display: flex;
            }
        }

        p {
            line-height: 1.4;
            margin-bottom: 0.25rem;
            font-size: clamp(1rem, 2vw, 1.125rem);
            &.meta-p {
                opacity: 0.8;
                text-transform: capitalize;
            }
        }
        

        .cta {
            margin: 1rem 0 0;
            
        }

        @include abstracts.lg {
            grid-area: title;
            padding: 0vh 0.25rem 1rem 5vw;
            // border: 2px solid blue;
            display: flex;
            align-items: end;
            padding: 10vh 5vw 0;
            
            
            // .home-title {
            //     border: 1px solid green;
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;
            //     width: 100%;
            // }
        }
    }
}

#home {
    height: 95vh;
    width: 100%;
    padding: 5vh 5vw;
    position: relative;
    isolation: isolate;
    // PSEUDO BG
    @include abstracts.xlg {
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: #fff;
            border-radius: 40%;
            z-index: -2;
        }
    }
    // HERO IMAGE
    figure {
        width: 100%;
        inset: 0;
        position: absolute;
        background-color: #fff;
        @include abstracts.lg {
            width: 50%;
            position: absolute;
            left: unset;
            bottom: unset;
            right: 5vw;
            top: 20vh;
            height: 70vh;
            border-radius: 5rem;
            overflow: hidden;
        }
        @include abstracts.xlg {
            border-radius: 40%;
        }

        img {
            object-fit: contain;
            object-position: 0% 0%;
            object-position: 0% bottom;
            z-index: -1;
            height: 100%;
            @include abstracts.sm {
                object-position: right;
            }

            @include abstracts.lg {
                object-fit: cover;
                object-position: left;
            }
    
        }
    }

    // HERO CONTENT
    .home-content {
        // border: 1px solid #000;
        text-transform: capitalize;
        position: relative;
        top: 15vh;
        transition: .25s ease;
        z-index: 1;

        @include abstracts.lg {
            top: 50%;
            transform: translateY(-50%);
        }


        .home-title {
            color: abstracts.$brand-brown;
            margin-bottom: 1rem;

            h1 {
                font-size: 2.125rem;
                font-size: abstracts.$font-clamp-lg;
                margin-bottom: 1rem;
            }

            p {
                font-size: abstracts.$font-clamp-sm;
                font-size: clamp(1.25rem, 3vw, 1.5rem);
            }
            
            // LOCATION P
            .meta-p {
                margin-top: .5rem;
                color: abstracts.$brand-brown-light;
                font-size: 1.15rem;
                font-size: abstracts.$font-clamp-sm;

                i {
                    width: 1.25rem;
                }
            }

        }
    }
    // HERO CTA
    .cta {
        // border: 2px solid red;
        // width: max-content;
        // position: absolute;
        // bottom: 10vh;
        // left: 5vw;

        .btn {
            // margin: 1rem auto;
            width: 12rem;

            i {
                color: abstracts.$brand-pink-light;
            }

            @include abstracts.sm {
                // margin: 1rem auto;
            }
        }
    }

    

}