@use '../abstracts';

#work {
    // border: 3px solid red;
    padding: 5vh 0;
    .portfolio {
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // margin: 5vh 10vw;
        padding: 5vh 5vw;
        // border: 2px solid red;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        gap: 10vh;
        @include abstracts.sm {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            // grid-template-rows: 20vh;
        }
        @include abstracts.md {
            grid-template-columns: 1fr 1fr 1fr;
            // gap: 1rem;
            row-gap: 10vh;
            column-gap: 5vw;
        }
        .item {
            // border: 2px solid red;
            position: relative;
            background: #fff;
            // width: 200px;
            width: 100%;
            // height: 50vh;
            padding: 1rem;
            border-radius: abstracts.$brand-radius;
            overflow: hidden;
            box-shadow: 0 .5rem .5rem rgba(0,0,0,.05);
            @include abstracts.sm {
                display: flex;
                flex-direction: column;
                // height: 65vh;
            }
            figure {
                // // border: 2px solid abstracts.$brand-pink;
                width: 15rem;
                // border: 2px solid red;
                overflow: hidden;
                border-radius: abstracts.$brand-radius;
                margin-bottom: .5rem;
                @include abstracts.sm {
                    width: 10rem;
                    height: 10rem;
                    margin: 0 auto;
                }
                img {
                    object-fit: contain;
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    transition: .5s;
                    border-radius: abstracts.$brand-radius;
                    // transform: scale(1.2);
                    // height: 100%;
                    // @include abstracts.lg {
                    //     width: 70%;
                    // }
                }
            }
            .action {
                // background: #000;
                transition: .5s ease;
                color: #ddd;
                border-radius: 5px;
                overflow: hidden;
                padding: 1rem 0 0;
                color: abstracts.$brand-brown;

                h3 {
                    font-size: 1.25rem;
                    margin: 1rem 0;
                    font-weight: 700;
                    text-transform: capitalize;
                    @include abstracts.sm {
                        font-size: 1.125rem;
                    }
                    span {
                        color: abstracts.$brand-pink;
                        display: block;
                        font-size: .95rem;
                        padding-top: .25rem;
                        &::before{
                            content: 'R';
                        }
                    }
                }

                p {
                    font-weight: 400;
                    color: abstracts.$brand-brown-light;
                    line-height: 1.4;
                }

                a {
                    display: block;
                    width: 10rem;
                    margin: 1rem 0;
                    text-decoration: none;
                    text-transform: capitalize;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: .65rem 1rem;
                    border-radius: abstracts.$brand-radius;
                    background: abstracts.$brand-btn;
                    color: #f4f4f4;
                    box-shadow: 0 .25rem .5rem rgba(0,0,0, .1);


                    i {
                        color: abstracts.$brand-pink-light;
                    }
                }


                button {
                    display: inline-block;
                    background: abstracts.$btn-gradient;
                    color: #f4f4f4;
                    font-weight: 500;
                    text-decoration: none;
                    border: none;
                    outline: none;
                    padding: .6rem 1rem;
                    margin: 1rem auto;
                    border-radius: abstracts.$brand-radius;
                    cursor: pointer;
                    width: 100px;
                    box-shadow: inset 2px 2px 5px #fff2,
                                inset -2px -2px 5px #0003;
                }
            }

            
            
        }
    }
}