#contact {
    overflow: hidden;
    scroll-padding-top: 50vh;
    .title {
        p {
            font-size: 1em;
            text-transform: none;
            a {
                color: $munch-pink;
                font-weight: 600;

                &:hover {
                    color: $munch-purple;
                }
            }
        }
    }
}
.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    @media (max-width: 1024px){
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }
    .contact-info-title {
        text-transform: capitalize;
        text-align: center;
        margin: 1em auto 1.5em;
        color: $munch-brown;
        text-shadow: 2px 2px 0 pink;
    }
    .contact-form {
        position: relative;

        background: #f9f9f9;
        width: calc(100% - 400px);
        padding: 10vh 40px 20px;
        margin: 10vh 0;
        border-radius: 10px;

        @media (max-width: 1024px){
            width: 100%;
            padding: 30px 20px 30px;
            border-radius: 0;
        }
        
        form {
            width: 100%;

            .row {
                width: 100%;
                display: flex;
                @media (max-width: 1024px){
                    flex-direction: column;
                    align-items: center;
                }
                @media (min-width: 1024px) {
                    &label {
                        font-size: .8em;
                    }
                }
                
                fieldset {
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    margin: 2em auto;
                    border: 3px solid $munch-pink-light;
                    height: auto;
                    border-radius: 5px;
                    overflow: hidden;
                    

                    legend {
                        color: $munch-pink;
                        font-weight: 600;
                        font-size: 1.2em;
                        margin-left: .5em;

                    }
                    // contact-info fieldset
                    &#contact-field {
                        flex-direction: row;
                        padding: 0;
                        margin: 0;
                        width: 100%;
                        height: 150px;
                        overflow: hidden;
                        legend {
                            font-weight: 500;
                        }
                        @media (max-width: 1024px){
                            flex-direction: column;
                            margin-bottom: 5vh;
                            height: auto;
                            padding: 1em .5em 10vh;
                            
                            .input50 {
                                height: auto;
                                padding-right: 1em;
                        }
                        }
                        @media (max-width: 350px){
                            height: auto;
                        }
                    }
                    // end of contact-info fieldset
                    &#treats {
                        padding: 1em;
                        label {
                            position: relative;
                            color: $munch-gray;
                            transform: translateY(1em);
                        }
                        option {
                            text-transform: capitalize;
                        }
                        @media (max-width: 1024px){
                            flex-direction: column;
                            // margin-bottom: 5vh;
                            height: auto;
                            padding: 1em .5em 10vh;
                            margin: 10vh auto;
                            
                            .input50 {
                                height: auto;
                                // padding-right: 1em;
                        }
                        }
                        @media (max-width: 350px){
                            height: auto;
                        }
                    }
                }
                label {
                    text-transform: capitalize;
                    color: $munch-gray;
                    position: absolute;
                    top: 1em;
                    font-size: 1.2em;
                    left: 0;
                    padding: 0 4em 0em 0;
                    letter-spacing: .1em;
                    transform: translateY(50%);
                    &.required::after {
                        content: '*';
                        color: $text-color-pink;
                        font-weight: 800;
                    }
                }
                .input50 {
                    width: 50%;
                    margin: 0 10px;
                }
                .input100 {
                    width: 100%;
                    margin: 0 10px;
                }
                #custom-classic {
                    // overflow: scroll;
                    label {
                        position: relative;
                        transform: translateY(1em);
                    }
                    h3 {
                        width: 100%;
                        text-align: center;
                        margin: 2em auto 0;
                        background: $munch-pink;
                        color: $munch-mist;
                        border-radius: 5px;
                        padding: .2em;
                    }
                    select {
                        font-size: 1em;
                        text-transform: capitalize;
                    }
                }
                .input50, .input100 {
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                input, textarea, select {
                    position: relative;
                    border: 2px solid #333;
                    
                    color: $munch-brown-dark;
                    background: transparent;
                    width: 100%;
                    padding: .7em .5em;
                    outline: none;
                    font-size: 1.2em;
                    font-weight: 600;
                    margin: 1em 0 5vh;
                    resize: none;
                    bottom: -2em;
                    border-radius: 5px;
                    transition: .2s linear;

                    &::placeholder {
                        font-size: .8em;
                        color: rgba(151, 149, 149, 0.822);
                    }
                    &:invalid {
                        border: 1px solid purple;
                        background-color: rgba(255, 192, 203, 0.200);
                    }
                    &:valid {
                        border: 2px solid pink;
                    }
                    optgroup {
                        text-transform: capitalize;
                        option {
                            text-transform: lowercase;
                        }

                        select {
                            text-transform: capitalize;
                        }
                    }

                    &[type='submit'] {
                        background-color: $munch-brown;
                        color: #fff;
                        width: 100%;
                        margin: 0 auto 10vh;
                        text-transform: uppercase;
                        letter-spacing: .2em;
                        font-size: 1em;
                        @media (max-width: 1024px){
                            font-size: 1em;
                        }
                        font-weight: 300;
                        border: 0;
                        padding: 1em .5em;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        letter-spacing: .3em;
                        position: relative;
                        box-shadow: 
                                    inset 2px 2px 4px $munch-mist,
                                    inset -2px -2px 4px #000;
                    
                        &:hover {
                            transition: .3s ease;
                            transform: scale(.985);
                        }
                            &:active {
                            transform: scale(.94);
                            transition: .3s ease;
                            letter-spacing: .1em;
                        }
                   }
                   &:hover {
                    transition: .3s ease;
                    &:focus {
                        color: $munch-brown;
                    } 
                }
                }

                textarea {
                    height: 150px;
                    margin-bottom: 10vh;

                }
                
            }
        }
    }

    .contact-info {
        width: 350px;
        background: #f9f9f9;
        padding: 10vh 1em 20px;
        margin: 10vh 0;
        border-radius: 10px;
        // border: 1px solid green;
        
        @media (max-width: 1024px){
            width: 95%;
            margin: 20px auto;
            padding: 1em;
        }

        .info-box {
            display: flex;
            align-items: flex-start;
            margin-bottom: 40px;
            padding: .5em;
            border: 1px solid $munch-brown;
            border-radius: 5px;
            // overflow: hidden;
            width: 100%;
            cursor: pointer;


            @media (max-width:767px) {
                margin: .5em 0 5vh;
            }

            .contact-icon {
                width: 20px;
                margin-right: .5em;
                font-size: 2em;
                color: $munch-brown;
            }
            
            .details{
                display: flex;
                flex-direction: column;
                // border: 1px solid red;
                padding: 0 1em;
                width: 100%;
                transform: translateX(-.5em);
                transition: .2s ease;
                h2 {
                    font-size: 1.5em;
                    color: $munch-brown;
                    margin-bottom: .5em;
                    font-family: $header-font;
                    text-transform: capitalize;
                }
                a, p {
                    font-family: $content-font;
                    font-weight: 600;
                    color: #000;
                    font-size: 1em;
                    cursor: pointer;
                    margin: .5em 0;
                    transition: .2s ease;
                    text-decoration: none;
                    border-radius: 5px;
                    position: relative;

                    @media (max-width:500px){
                        font-size: .9em;
                    }

                    &:hover {
                        transition: .2s ease;
                        &::before{opacity:0;}
                        &::after{opacity:1;}
                        transform: scale(1.04);
                    } 
                }
            }
            // info box items hover state
            &:hover {
                & .details {
                    transform: translateX(0);
                }
            }
        }
    }
}

#thankYou {
    @media (max-width:1024px) {
        font-size: 1em;

        ul {
            li {
                padding: 5em;
            }
        }
    }
    font-size: 1.5em;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
        text-align: center;
    }
    ul {
        margin-top: 3em;
        width: 20%;
        text-align: left;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 1024px){
            width: 60%;
        }

        li {
            margin: 2em 0;
            padding: .5em 1em;
            list-style: none;
            
            a {
                color: #000;
                text-decoration: none;
                position: relative;
                display: block;
                padding: .5em .1em;
                width: 100%;
                height: 100%;
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                z-index: -1;
                box-shadow: inset 2px 2px 5px #ddda,
                            inset -2px -2px 5px #000a;
            }  

                i {
                    margin: 0 1em;
                    color: #333a;
                    transition: .2s;
                }
            }
            &:hover {
                transition: .2s;
                transform: scale(.98);

                i {
                    color: $munch-pink;
                }
            }
            &:active {
                transform: scale(.9);
            } 
        }
    }
}
