#contact {
    .title {
        p {
            font-size: 1em;
            text-transform: none;
            padding: .3em;
            font-style: italic;
            a {
                color: $munch-purple;
                font-weight: 600;

                &:hover {
                    color: $munch-pink;
                }
            }
        }
    }
}
.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 700px){
        flex-direction: column-reverse;
    }
    #contact-field {
        flex-direction: row;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 150px;
        overflow: hidden;
        legend {
            margin-left: 1em;
            font-weight: 500;
        }
        @media (max-width: 768px){
            flex-direction: column;
            margin-bottom: 2em;
            height: 65vh;
            padding: 2em .7em;
            
            .input50 {
                height: auto;
        }
        }
        @media (max-width: 350px){
            height: 70vh;
        }
    }
    .contact-form {
        position: relative;

        background: #f9f9f9;
        width: calc(100% - 400px);
        padding: 60px 40px 20px;

        @media (max-width: 767px){
            width: 100%;
            padding: 30px 20px 30px;
        }
        border-radius: 10px;
        
        form {
            width: 100%;

            .row {
                width: 100%;
                display: flex;
                @media (max-width: 767px){
                    flex-direction: column;
                }
                @media (min-width: 768px) {
                    &label {
                        font-size: .8em;
                    }
                }
                #treats {
                    padding: 1em;
                    label {
                        position: relative;
                        color: $munch-gray;
                        transform: translateY(1.5em);
                    }
                }
                fieldset {
                    padding: 1em ;
                    display: flex;
                    flex-direction: column;
                    margin: 2em auto;
                    border: 3px solid $munch-pink-light;
                    height: 75vh;
                    border-radius: 5px;
                    overflow: auto;
                    

                    legend {
                        color: $munch-pink;
                        font-size: 1em;
                    }
                }
                label {
                    text-transform: capitalize;
                    color: $munch-gray;
                    position: absolute;
                    top: 1em;
                    font-size: 1.2em;
                    left: .8em;
                    padding: 0 4em 0em 0;
                    letter-spacing: .1em;
                    transform: translateY(50%);
                }
                .input50 {
                    width: 50%;
                    margin: 0 10px;
                }
                .input100 {
                    width: 100%;
                    margin: 0 10px;
                }
                .input50, .input100 {
                    width: 100%;
                    height: 100%;
                    margin: .4em;
                    position: relative;
                    
                    &:hover label {
                        transition: .5s ease;
                        font-weight: 700;
                        color: $text-color-brown;
                        transform: translateY(50%) translateX(1em);
                    }
                }
                input, textarea, select {
                    position: relative;
                    border: none;
                    box-shadow: inset 2px 2px 5px #ddda,
                                inset -2px -2px 5px #000a;
                    color: $munch-brown-dark;
                    background: transparent;
                    width: 100%;
                    padding: .7em .5em;
                    outline: none;
                    font-size: 1.2em;
                    font-weight: 600;
                    margin: 1em 0;
                    resize: none;
                    bottom: -2em;
                    border-radius: 5px;
                    transition: .2s linear;

                    &::placeholder {
                        font-size: .8em;
                        color: rgba(151, 149, 149, 0.822);
                    }
                    option, optgroup {
                        text-transform: capitalize;
                    }

                    &[type='submit'] {
                        background-color: $munch-brown;
                        color: #fff;
                        width: 50%;
                        margin: 1em auto;
                        text-transform: uppercase;
                        letter-spacing: .2em;
                        font-weight: 300;
                        border: 0;
                        padding: .5em;
                        border-radius: 20px;
                        cursor: pointer;
                        letter-spacing: .3em;
                        box-shadow: 
                                    inset 2px 2px 5px $munch-mist,
                                    inset -2px -2px 5px #000;
                    
                        &:hover {
                            transition: .3s ease;
                            box-shadow: inset 2px 2px 5px #000,
                                        inset -2px -2px 5px #ddd;
                                        
                                    }
                            &:active {
                            transform: scale(.8);
                            transition: .3s ease;
                            letter-spacing: .1em;

                        }
                   }
                   &:hover {
                    transition: .3s ease;
                    box-shadow: inset -2px -2px 5px #ddda,
                                inset 2px 2px 5px #000a;
                    transform: scale(1.01);
                    &:focus {
                        color: $munch-brown;
                        box-shadow: inset 0px 0px 5px $munch-pink;
                    } 
                }
                }

                textarea {
                    height: 150px;
                }
                
            }
        }
    }

    .contact-info {
        width: 350px;
        background: #f9f9f9;
        padding: 2em 1em 20px;
        border-radius: 10px;
        
        @media (max-width: 767px){
            width: 100%;
            margin-top: 20px;
            padding: 30px 30px 20px;
        }

        .info-box {
            display: flex;
            align-items: flex-start;
            margin-bottom: 40px;

            .contact-icon {
                width: 20px;
                margin-right: 40px;
                font-size: 2em;
                color: $munch-brown;
            }
            
            .details{
                display: flex;
                flex-direction: column;
                h4 {
                    font-size: 1.6em;
                    color: $munch-brown;
                    margin-bottom: .5em;
                    font-family: $header-font;
                    text-transform: capitalize;
                }
                a, p {
                    font-family: $content-font;
                    font-weight: 600;
                    color: #000;
                    font-size: 1em;
                    cursor: pointer;
                    padding: .7em 1em;
                    margin: 10px;
                    transition: .2s ease;
                    text-decoration: none;
                    letter-spacing: .2em;
                    position: relative;
                    left: -2em;

                    &::before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        box-shadow: inset 2px 2px 4px #ddda,
                                    inset -2px -2px 4px #000a;
                    }

                    @media (max-width:500px){
                        font-size: .9em;
                    }

                    &:hover {
                        transition: .2s ease;
                        letter-spacing: .1em;
                        box-shadow: -2px -2px 5px #333a,
                                    2px 2px 5px #ddd;
                    } 
                }
            }
        }
    }
}

#thankYou {
    @media (max-width:768px){
        font-size: 1em;
         ul {
             li {
                 padding: 5em;
             }
         }
    }
    font-size: 1.5em;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
        text-align: center;
    }
    ul {
        margin-top: 3em;
        width: 20%;
        text-align: left;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 768px){
            width: 60%;
        }

        li {
            margin: 2em 0;
            padding: .5em 1em;
            list-style: none;
            
            a {
                color: #000;
                text-decoration: none;
                position: relative;
                display: block;
                padding: .5em .1em;
                width: 100%;
                height: 100%;
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                z-index: -1;
                box-shadow: inset 2px 2px 5px #ddda,
                            inset -2px -2px 5px #000a;
            }  

                i {
                    margin: 0 1em;
                    color: #333a;
                    transition: .2s;
                }
            }
            &:hover {
                transition: .2s;
                transform: scale(.98);

                i {
                    color: $munch-pink;
                }
            }
            &:active {
                transform: scale(.9);
            } 
        }
    }
}

footer {
    position: fixed;
    bottom: 0;

    a {
        color: #000;
    }
}