#services {
    

    .services {
        margin-top: 3em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media(max-width:768px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width:500px){
            grid-template-columns: 1fr;
        }
        gap: 2.5em;
        text-align: center;

        

        .service {
            padding: 2em;
            background: #f4f4f4;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.301),
                        inset 5px 5px 10px #ddd,
                        inset -5px -5px 10px #000a;
            transition: .3s ease;
            transform-style: preserve-3d;

            

            h2 {
                @media(max-width: 768px){
                    font-size: 1.2em;
                }
                font-size: 1.5em;
                font-weight: 500;
                margin-bottom: .5em;
                color: $munch-brown;
                font-family: $header-font;
                transition: .4s ease;

            }
            
            p {
                display: none;
                font-family: $content-font;
            }

            .icon {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: space-between;
                transition: .3s ease;
                img {
                    transition: .5s ease;
                    width: 70%;
                    height: 40vh;
                    border-radius: 10px;
                }
            }
            &:hover {
                transition: .3s ease;
                box-shadow:  1px 1px 1px #ddd,
                            inset 5px 5px 10px rgba(0, 0, 0, 0.459),
                            inset -5px -5px 10px #ddd;
                transform: scale(.98);
                cursor: pointer;

                img {
                    // width: 100%;
                    // height: 50vh;
                    transform: scale(1.19) translateZ(1em) scaleX(1.3);
                    top: 0;
                    z-index: 20;
                    transition: .4s ease;

                }
                h2 {
                    transition: .3s ease;
                    opacity: .7;
                    transform: translateY(-1em);
                    // margin-bottom: 2em;
                }
            }
        }
        
    }
    #work-link {
        display: inline-block;
        background: $munch-pink-light;
        margin: 2em auto;
        width: 100%;
        text-align: center;
        padding: .5em 0;
        border-radius: 5px;
        border: none;
        outline: none;
        position: relative;

        .catalogBtn {
            text-decoration: none;
            text-transform: uppercase;
            color: $munch-cyan;
            position: relative;
            z-index: 1;
            width: 50%;
            margin: 0em auto;

            a {
                color: #ddd;
                text-decoration: none;
                font-weight: 600;
                padding: .5em 1em;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                i {
                    margin-right: .5em;
                    color: #ddda;
                }
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                background: $munch-pink;
                z-index: -1;
                transition: .3s;
            }
            
            &::before {
                box-shadow: inset 3px 3px 5px #fff,
                    inset -3px -3px 5px #000a;
            }

            &::after {
                opacity: 0;
                box-shadow: inset 2px 2px 4px #000,
                    inset -2px -2px 4px #fffa;
            }
            &:hover {
                &::before {
                    opacity: 0;
                }
                &::after {
                    opacity: 1;
                }
            }
            &:active {
                transition: .3s;
                transform: scale(.8);
            }
        }
        
    }




    h2 {
        text-transform: capitalize;
    }
}