#services {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 4.5em;

    @media (max-width:768px) {
        padding: 100px 40px;
    }
    
    .title {
        text-transform: capitalize;
    }

    .services {
        margin-top: 3em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media(max-width:768px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width:500px){
            grid-template-columns: 1fr;
        }
        gap: 2.5em;
        text-align: center;

        

        .service {
            padding: 2em;
            background: #f4f4f4;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.301),
                        inset 5px 5px 10px #ddd,
                        inset -5px -5px 10px #000a;
            transition: .3s ease;

            &:hover {
                transition: .3s ease;
                box-shadow:  1px 1px 1px #ddd,
                            inset 5px 5px 10px rgba(0, 0, 0, 0.459),
                            inset -5px -5px 10px #ddd;
                transform: scale(.98);
            }

            h2 {
                @media(max-width: 768px){
                    font-size: 1.2em;
                }
                font-size: 1.5em;
                font-weight: 500;
                margin-top: 20px;
                color: #1b206e;
            }

            .icon {
                img {
                    max-width: 100px;
                }
            }
        }
    }




    h2 {
        text-transform: capitalize;
    }
}