$text-color-dark: #111;
$text-color-light: #fefefe;
$text-color-pink: #f75394;
$text-color-purple: #b768a2;
$text-color-brown: #800000;


/*munch theme*/
$munch-brown: #800000;
$munch-brown-dark: #654321;
$munch-brown-darkest: #51361a;

$munch-purple: #b768a2;
$munch-pink-light: pink;
$munch-pink: #f75394;
$munch-celeste: #b2ffff;
$munch-cyan: #e0ffff;
$munch-bubble: #e7feff;
$munch-mist: #f0ffff;
$munch-blue: #9abcde;
$munch-blue-dark: #1664b1;
$munch-gray: #434343;
$munch-white: #fffa;


$nav-bg: #eee;
$munch-bg: #fde9ed;

$btn-red: #eb395d;
$btn-brown: #800000;

$header-font: 'Raleway', sans-serif ;
$content-font: 'Varela Round', sans-serif;

$links-shadow:  inset -2px -2px 5px $munch-brown-dark,
                inset 2px 2px 10px #fff;

$links-shadow-hover:
                    inset -2px -2px 5px #fffa,
                    inset 2px 2px 5px $munch-brown-dark;

$hamburger-shadow: inset -2px -2px 3px #000,
inset 2px 2px 3px #fff;

$hamburger-shadow-hover:inset -2px -2px 3px #fffa,
inset 2px 2px 3px #000a;