$text-color-dark: #111;
$text-color-light: #fff;

/*munch theme*/
$munch-brown: rgb(146, 32, 32);
$munch-brown-dark: #640a0a;
$munch-pink: pink;

$nav-bg: #eee;

$btn-red: #eb395d;

$header-font: 'Raleway', sans-serif ;
$content-font: 'Varela Round', sans-serif;
