$text-color-dark: #111;
$text-color-light: #fefefe;
$text-color-pink: #f75394;
$text-color-purple: #b768a2;
$text-color-brown: #800000;


/*munch theme*/
$munch-brown: #800000;
$munch-brown-dark: #654321;
$munch-brown-darkest: #51361a;

$munch-purple: #b768a2;
$munch-pink-light: pink;
$munch-pink: #f75394;
$munch-celeste: #b2ffff;
$munch-cyan: #e0ffff;
$munch-bubble: #e7feff;
$munch-mist: #f0ffff;
$munch-blue: #9abcde;
$munch-gray: #434343;


$nav-bg: #eee;

$btn-red: #eb395d;
$btn-brown: #800000;

$header-font: 'Raleway', sans-serif ;
$content-font: 'Varela Round', sans-serif;
