#work {



    .portfolio {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 3vh 10vw;
        @media (max-width: 767px) {
            margin: 2vh 5vw;
        }

        .item {
            position: relative;
            width: 300px;
            height: 300px;
            margin: .5em;
            cursor: pointer;
            border-radius: 5px;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                box-shadow: inset 4px 4px 3px #fffa,
                            inset -4px -4px 3px rgba(255, 192, 203, 0.74);
                z-index: 10;
            }

            @media (max-width:768px) {
                width: 100%;
                height: 50vh;
                margin: 1em;

                img {
                    border-radius: 5px;
                }
            }


            img {
                width: 100%;
                height: 100%;
                transition: 1s;
                object-fit: fill;
            }
            &:hover {
                img {
                    transform: scale(1.4);
                }
            }
            .action {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000a;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                opacity: 0;
                transition: .5s ease;
                color: #ddd;
                border-radius: 5px;
                overflow: hidden;

                h3 {
                    font-size: 1.2em;
                    padding: .2em 1em;
                    border-radius: 5px;
                    font-weight: 700;
                    text-align: center;
                    text-transform: capitalize;
                    color: $text-color-pink;
                    text-decoration: underline rgba(255, 192, 203, 0.692);
                }

                p {
                    padding: .5em;
                    margin: 1em;
                    border-radius: 5px;
                    text-align: center;
                    font-weight: 500;
                    font-family: $content-font;
                }


                button {
                    display: inline-block;
                    background: $munch-pink-light;
                    color: $munch-brown;
                    font-weight: 600;
                    text-decoration: none;
                    border: none;
                    outline: none;
                    padding: .7em 1.5em;
                    border-radius: 10px;
                    cursor: pointer;
                    width: 100px;
                    box-shadow: inset 2px 2px 5px #fff,
                                inset -2px -2px 5px #000;
                }
            }

            &:hover .action {
                transition: 1s ease;
                transform: scale(1.05);
                opacity: 1;
            }
            
        }
    }
}