@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');
@import 'variables';
@import 'reset';
@import 'services';
@import 'work';

body {
    background-image: radial-gradient( #ffc0cb3f, #a52a2a2d);
}
.container {
    height: 100vh;
    overflow: hidden;
}

header {
    @media (max-width: 768px){
        background: pink;
        box-shadow: 0 5px 10px #000a;
        position: fixed;
        width: 100%;
        height: 15vh;
        top: 0;
        z-index: 20;
        padding: .5em 0;
    }
    .hamburger {
        height: 60px;
        width: 60px;
        display: inline-block;
        border: 3px solid brown;
        border-radius: 50%;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        cursor: pointer;
        transform: scale(0.8);
        margin: 3px 20px;

        .bar {
            height: 2px;
            width: 30px;
            position: relative;
            background-color: brown;
            z-index: -1;

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                background-color: brown;
                transition: 0.3s ease;
                transition-property: top, bottom;

                
            }
            &::after {
                top: 8px;
            }
            &::before {
                bottom: 8px;
            }
        }

        &.active .bar::after {
            top: 0;
        }
        &.active .bar::before {
            bottom: 0;
        }
    }
    .logo {
        position: relative;
        height: 100%;
        top: 30px;
        left: 50px;
        z-index: 20;
        width: 25vw;
        background-color: $munch-brown;
        @media (max-width: 768px){
            background: none;
            top: .5em;
            left: 1em;
        }

        h3 {
            @media (max-width: 768px){
                display: none;
            }
            color: $munch-pink;
            font-size: 3rem;
            font-weight: 700;
            padding: .1em;
        }

        img {
            @media (max-width: 768px) {
                width: 7em;
                height: 7em;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.336);
            }
            width: 6em;
            height: 6em;
            border-radius: 50%;
        }
    }

    // .toggle {
    //     position: fixed;
    //     background: $munch-brown url(../images/menu.png);
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     top: 0;
    //     right: 0;
    //     width: 60px;
    //     height: 60px;
    //     z-index: 20;
    //     cursor: pointer;
    //     transition: .2s ease;

    //     &:hover {
    //         transition: .2s ease;
    //         transform: scale(.9);
    //     }
    //     &.active {
    //         background: $munch-pink url(../images/close.png) no-repeat center;
    //         }
    // }

    nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-image: url(../images/logo.jpg);
        z-index: 15;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #ffc0cbf5;
            background-image: radial-gradient(rgba(182, 12, 12, 0.2),#ffc0cb00 );
        }


        &.active {
            left: 0;
        }
        
        ul {
            position: relative;

            li {
                position: relative;
                list-style: none;
                text-align: center;
            }
        }

        a {
            @media (max-width: 768px){
                font-size: 2rem;
            }
            font-size: 2.5rem;
            color: #111;
            text-decoration: none;
            font-weight: 300;

            &:hover {
                color: $btn-red;
            }
        }

        .social-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .email-icon {
                position: absolute;
                bottom: 20px;
                margin-bottom: 1em;
            }

            a {
                display: inline-block;
                margin-bottom: 1em;
                
            }
        }
    }
    
}

#home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 100px;
    margin-top: 0;
    @media (max-width:768px){
        padding: 100px 40px;
        margin-top: 3em;

    }
    
    .home-img {
        @media(max-width: 1024px){
            display: none;
        }
        position: absolute;
        right: 2em;
        bottom: 2em;
        height: 70%;
        border-radius: 50%;
        box-shadow: 10px 10px 10px #000a,
                    -10px -1px 10px #88878752;
        transition: .3s ease;

        
        &:hover {
            box-shadow: 10px 10px 10px #88878752,
            -10px -1px 10px #000a;
            transform: scale(.95);
            transition: .3s ease;
        }
                }

    .home-content {
        position: relative;
        z-index: 10;
        max-width: 600px;

        h1 {
            font-weight: 500;
            font-size: 2.5em;
        }

        p {
            margin: 20px 0 10px;
            font-size: 1.1rem;
        }

        .btn {
            cursor: pointer;
            display: inline-block;
            background: $munch-brown;
            color: $text-color-light;
            text-decoration: none;
            padding: .3em .4em;
            margin: .3em 0;
            border-radius: 5px;
            transition: .3s ease;

            &:hover {
                transition: .3s ease;
                transform: scale(.95);
            }
        }
    }

}
